﻿@model Dictionary<DateTime, int>
@{
    ViewBag.Title = "GetMatchOverview";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Dag</th>
        <th>Antall kamper</th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (KeyValuePair<DateTime, int> kvp in Model)
        {
            <tr>
                <td>@kvp.Key.Date</td>
                <td>@kvp.Value</td>
            </tr>
        }
    }
    </tbody>
    <tfoot>
    <tr>
        <td>&nbsp;</td>
    </tr>
    </tfoot>
</table>