﻿@using NTB.SportsData.Domain.Classes
@model MatchManagerView
@{
    ViewBag.Title = "MatchManagement";
}

@{
    var totalMatches = Model.DistrictMatches.Sum(matches => matches.Value.Count);
}


<form method="POST" action="~/Input/MatchManager/JobSetup">
    <div class="row">
        <div class="col-md-8">
            <h2>Kampadministrasjon</h2>
        </div>
        <div class="col-md-4 text-center" style="padding-top: 15px;">
            <!-- <input type="submit" value="Submit" class="btn btn-success input-sm"/> -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body bg-info">
                    <div class="col-xs-3 col-md-3 text-center info">
                        <img src="~/Content/glyphicons/png/glyphicons-330-soccer-ball.png" alt="soccer ball icon"/>
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        Antall kamper totalt <span id="matchesleft">@totalMatches</span>

                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body bg-success">
                    <div class="col-xs-3 col-md-3 text-center info">
                        <img src="~/Content/glyphicons/png/glyphicons-4-user.png" alt="user icon"/>
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        Antall brukere pålogget <span id="loggedinusers"></span>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <fieldset>
        <div class="col-md-12">
            <div class="row">
                <h3>Idrettskretser</h3>

                @{
                    var counter = 0;
                }

                @foreach (var district in Model.Districts.Where(x => x.SportId != 16))
                {
                    
                    var matches = Model.DistrictMatches.SingleOrDefault(x => x.Key.DistrictId == district.DistrictId);

                    var numberOfMatches = 0;
                    if (matches.Value != null)
                    {
                        numberOfMatches = matches.Value.Count;
                    }
                    if (numberOfMatches == 0)
                    {
                        continue;
                    }

                    @*<div style="float:left; width:250px;">*@
                    <div class="col-md-3">
                        <div class="col-md-10">
                            <h3>@district.DistrictName (@numberOfMatches)</h3>
                        </div>
                        <div class="row"></div>


                        @{
                            if (numberOfMatches > 0)
                            {
                                <ul>
                                    @{
                                        if (Model.UserProfiles.Any())
                                        {
                                            foreach (var profile in Model.UserProfiles)
                                            {
                                                var checkboxValue = district.DistrictId + "|" + profile.UserId;
                                                <li>

                                                    @{
                                                        var district1 = district;

                                                        var profileId = profile.UserId.ToString().Replace("-", "").ToLower();

                                                        if (profile.Districts.Any(x => x.DistrictId == district1.DistrictId))
                                                        {
                                                            <input class="districtCheckbox @profileId" type="checkbox" checked="checked" name="districts[]" value="@checkboxValue"/>

                                                        }
                                                        else
                                                        {
                                                            <input class="districtCheckbox @profileId" type="checkbox" name="districts[]" value="@checkboxValue"/>
                                                        }
                                                    }



                                                    @profile.FirstName @profile.LastName

                                                </li>
                                            }
                                        }
                                    }


                                </ul>
                                <div class="row"></div>
                                <div class="col-md-10 text-right">
                                    <input type="submit" value="Submit" class="btn btn-success input-sm"/>

                                </div>
                            }
                        }
                    </div>

                    counter += 1;

                    if (counter != 4)
                    {
                        continue;
                    }
                    <div class="clearfix"></div>
                    counter = 0;
                }
            </div>
            <div class="row">
                <h3>Fotball-kretser</h3>
                @{
                    counter = 0;
                }

                @foreach (var district in Model.Districts.Where(x => x.SportId == 16).OrderBy(x => x.DistrictName))
                {
                    var matches = Model.DistrictMatches.SingleOrDefault(x => x.Key.DistrictId == district.DistrictId);

                    var numberOfMatches = 0;
                    if (matches.Value != null)
                    {
                        numberOfMatches = matches.Value.Count;
                    }

                    if (numberOfMatches == 0)
                    {
                        continue;
                    }

                    @*<div style="float:left; width:250px;">*@
                    <div class="col-md-3">
                        <div class="col-md-10">
                            <h3>@district.DistrictName (@numberOfMatches)</h3>
                        </div>
                        <div class="row"></div>


                        @{
                            if (numberOfMatches > 0)
                            {
                                <ul>
                                    @{
                                        if (Model.UserProfiles.Any())
                                        {
                                            foreach (var profile in Model.UserProfiles)
                                            {
                                                var checkboxValue = district.DistrictId + "|" + profile.UserId;
                                                <li>

                                                    @{
                                                        var district1 = district;

                                                        var profileId = profile.UserId.ToString().Replace("-", "").ToLower();

                                                        if (profile.Districts.Any(x => x.DistrictId == district1.DistrictId))
                                                        {
                                                            <input class="districtCheckbox @profileId" type="checkbox" checked="checked" name="districts[]" value="@checkboxValue"/>

                                                        }
                                                        else
                                                        {
                                                            <input class="districtCheckbox @profileId" type="checkbox" name="districts[]" value="@checkboxValue"/>
                                                        }
                                                    }



                                                    @profile.FirstName @profile.LastName

                                                </li>
                                            }
                                        }
                                    }


                                </ul>
                                <div class="row"></div>
                                <div class="col-md-10 text-right">
                                    <input type="submit" value="Submit" class="btn btn-success input-sm"/>

                                </div>
                            }
                        }
                    </div>

                    counter += 1;

                    if (counter != 4)
                    {
                        continue;
                    }
                    <div class="clearfix"></div>
                    counter = 0;
                }
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Submit" class="btn btn-success input-sm" />
            </div>
        </div>


    </fieldset>

</form>

<!-- Javascript to be added to javascript area -->
@section scripts {
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            $('.districtCheckbox').change(function() {
                if ($(this).is(':checked')) {
                    
                }
            });
             
        });
    </script>
}