﻿@using System.Globalization
@{
    ViewBag.Title = "Dagsoversikt";

    // var months = Enumerable.Range(1, 12).ToArray();
    var curMonth = new SelectListItem
    {
        Text = DateTime.Today.ToString("MMMM"),
        Value = DateTime.Today.ToString("M")
    };

    var months = DateTimeFormatInfo
    .InvariantInfo
    .MonthNames
    .TakeWhile(monthName => monthName != String.Empty)
    .Select((monthName, index) => new SelectListItem
    {
        Value = (index + 1).ToString(CultureInfo.InvariantCulture),
        Text = string.Format("{1}", index + 1, monthName)
    });
    
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <form action="/Input/MatchManager/GetMatchOverview" method="post">
        <div class="row">
            <div class="col-md-2">
                @Html.Label("Velg måned")
            </div>
            <div class="col-md-2">
                @Html.DropDownList("month", months, new {@class = "form-control"})
            </div>
            <div class="col-md-4">
                <input type="submit" class="btn btn-success" value="Hent" />
            </div>
        </div>

        <div class="row">
            
        </div>
    </form>
</div>