﻿@model Dictionary<NTB.SportsData.Domain.Classes.Club, List<NTB.SportsData.Domain.Classes.Club>>
@{
    ViewBag.Title = "Klubber";
}

<form name="foundclubs" action="/Organization/CheckClubs/@ViewBag.OrgId" method="POST">
    <fieldset class="container">
        <legend>Klubber</legend>
        @{
            bool foundClub = false;
            foreach (KeyValuePair<Club, List<Club>> kvp in Model)
            {
                <div class="col-md-3">@kvp.Key.ClubName</div>
                <div class="col-md-6">
                    <ul class="list-group">
                        @{
                            if (kvp.Value != null)
                            {
                                foreach (Club club in kvp.Value)
                                {
                                    
                                        if (kvp.Key.ClubName == club.ClubName)
                                        {
                                            foundClub = true;
                                            <li class="list-group-item">
                                                <input type="checkbox" name="club[]" checked="checked" value="@kvp.Key.ClubId|@club.DistrictId|@club.MunicipalityId"/> @club.ClubName
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item list-group-item-danger">
                                                <input type="checkbox" name="club[]" value="@kvp.Key.ClubId|@club.DistrictId|@club.MunicipalityId"/> @club.ClubName
                                            </li>
                                        }

                                }
                            }
                        }
                    </ul>
                </div>
            <div class="clearfix"></div>    
            }

            if (foundClub == false)
            {
                <div class="col-md-12">
                    <a href="/Organization/CheckClubAdvanced/@ViewBag.Orgid">Gå til avansert kobling</a>
                </div>
                <div class="clearfix"></div>
            }
        }
        <div class="col-md-12">
            <input type="submit" class="btn btn-success"/>&nbsp;&nbsp;
            <input type="reset" class="btn btn-default"/>
        </div>
    </fieldset>

</form>
