﻿@model NTB.SportsData.Domain.Classes.AdvancedCheckClubViewModel
@{
    ViewBag.Title = "Korriger resterende klubber";
}


<fieldset class="container">
    <legend>@ViewBag.Title</legend>
    <div class="alert alert-success" role="alert">
        <strong>Antall klubber igjen: </strong>@Model.Clubs.Count
    </div>
    @{
        <table class="table table-striped col-md-12">
            <thead>
                <tr>
                    <th>Navn</th>
                    <th>Kommune</th>
                    <th>Distrikt</th>
                    <th>Land</th>
                    <th colspan="2">&nbsp;</th>
                </tr>
            </thead>
            @foreach (var club in Model.Clubs)
            {
                var formName = "form_" + club.ClubId;
                var municipalitySelectName = "municipality_" + club.ClubId;
                var districtSelectName = "district_" + club.ClubId;
                var countrySelectName = "country_" + club.ClubId;
                <tr>
                    <td colspan="4">
                        <form action="/Organization/UpdateClubAdvanced/@club.ClubId" method="POST" name="@formName" >
                            <table class="table">
                                <tr>
                                    <td>@club.ClubName</td>
                                    <td>
                                        <select class="form-control" name="@municipalitySelectName" >
                                            @foreach (var municipality in Model.Municipalities)
                                            {
                                                if (municipality.MunicipalityId == club.MunicipalityId || 
                                                    municipality.MuniciaplityName == club.MunicipalityName)
                                                {
                                                    <option selected="selected" value="@municipality.MunicipalityId">@municipality.MuniciaplityName</option>
                                                }
                                                else
                                                {
                                                    <option value="@municipality.MunicipalityId">@municipality.MuniciaplityName</option>
                                                }

                                            }
                                        </select>
                                    </td>
            
                                    <td>
                                        <select class="form-control" name="@districtSelectName">
                                            @foreach (var district in Model.Districts)
                                            {
                                                if (club.DistrictId == district.DistrictId ||
                                                    club.DistrictName == district.DistrictName)
                                                {
                                                    <option selected="selected" value="@district.DistrictId">@district.DistrictName</option>
                                                }
                                                else
                                                {
                                                    <option value="@district.DistrictId">@district.DistrictName</option>
                                                }

                                            }
                                        </select>
                                    </td>
            
                                    <td>
                                        <select class="form-control" name="@countrySelectName">
                                            @foreach (var country in Model.Countries)
                                            {
                                                <option value="@country.Id">@country.Name</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <input type="submit" value="Legg inn" class="btn btn-success"/>
                                    </td>
                                    <td>
                                        <input type="reset" value="Reset" class="btn btn-default"/>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>
                        
                </tr>
            }
        </table>
    }
    <div class="clearfix"></div>
</fieldset>