﻿@model NTB.SportsData.Domain.Classes.ConnectClubsViewModel

@{
    ViewBag.Title = "Koble klubber";
}

<form method="POST" action="/Organization/ConnectClubs/@Model.Organization.OrganizationId">
<fieldset class="container">
    <legend>@ViewBag.Title</legend>
    <div class="col-md-6">
        <span>@Model.Organization.OrganizationName</span><br/>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <select name="selectOrg" class="form-control">
                @{
                    foreach (var org in Model.Organizations)
                    {
                        <option value="@org.OrganizationId">@org.OrganizationName</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <input type="submit" class="btn btn-success"/>&nbsp;&nbsp;
        <input type="reset" class="btn btn-default"/>
    </div>
</fieldset>
</form>
