﻿@{
    ViewBag.Title = "Create";
}

<form method="POST" name="org" action="~/Admin/Organization/Create">
    <fieldset>
        <legend>Legg til organisasjon</legend>
        <div class="row">
            <div class="form-group">
                <div class="col-md-3">
                    <label for="orgid">Organisasjon Id</label>
                    <input name="orgid" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-3">
                    <label for="orgUserId">Organisasjon Bruker Id</label>
                    <input name="orgUserId" id="orgUserId" class="form-control" type="number"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-3">
                    <label for="orgname">Organisasjon Navn</label>
                    <input name="orgname" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-3">
                    <label for="orgshortname">Organisasjon Navn kort</label>
                    <input name="orgshortname" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-3">
                    <label for="sport">Sport</label>
                    <input name="sport" class="form-control" value=""/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-3">
                    <label for="sport">Sport Id</label>
                    <input name="sportid" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-2">
                <div class="radio">
                    <label>
                        <input type="radio" class="radio" name="sporttype" value="SingleSport"/>Individuel idrett
                    </label>
                </div>
            </div>

            <div class="col-md-2">
                <div class="radio">
                    <label>
                        <input type="radio" class="radio" name="sporttype" value="TeamSport"/>Lagidrett
                    </label>
                </div>
            </div>
        </div>


        <br />
        <div class="row">
            <div class="col-md-3">
                <input class="btn btn-success" type="submit" value="Legg til"/>&nbsp;&nbsp;
                <input class="btn btn-default" type="reset" value="Tøm"/>
            </div>
        </div>

    </fieldset>

</form>