﻿@using NTB.SportsData.Domain.Classes
@model OrganizationDetail

@{
    ViewBag.Title = "Detaljer";
}


<div class="container-fluid">

    <div class="col-md-12">
        <h2>@ViewBag.Title: @Model.Org.OrganizationName (@Model.Org.OrganizationNameShort)</h2>
        <hr/>
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">
                    <h4>@Model.Org.Sport</h4>
                </li>
                <li class="list-group-item">
                    @Ajax.ActionLink("Sesonger", "GetSeasonsByOrgId", "AdminTools", new { id = Model.Org.OrganizationId }, new AjaxOptions { UpdateTargetId = "result", HttpMethod = "GET", InsertionMode = InsertionMode.Replace })
                    
                </li>
                <li class="list-group-item">
                    @Ajax.ActionLink("Disipliner", "ViewFederation", "Organization", new {id = Model.Org.OrganizationId}, new AjaxOptions {UpdateTargetId = "result", HttpMethod = "GET", InsertionMode = InsertionMode.Replace})
                    @*<a href="/Admin/AdminTools/ViewFederation/@Model.Org.OrganizationId">Disipliner</a>*@
                </li>
                <li class="list-group-item">
                    @Ajax.ActionLink("Måltyper", "PartialResults", "Organization", new { id = Model.Org.OrganizationId }, new AjaxOptions { UpdateTargetId = "result", HttpMethod = "GET", InsertionMode = InsertionMode.Replace })
                </li>
                <li class="list-group-item">
                    @Ajax.ActionLink("Alderskategorier", "ListAgeCategories", "AdminTools", new {id = Model.Org.OrganizationId}, new AjaxOptions {UpdateTargetId = "result", HttpMethod = "GET", InsertionMode = InsertionMode.Replace})
                    @*<a href="/Admin/AdminTools/ListAgeCategories/@Model.Org.OrganizationId">Alderskategorier</a>*@
                </li>
                <li class="list-group-item">
                    @Ajax.ActionLink("Turneringer", "ListSeasons", "Organization", new { id = Model.Org.OrganizationId }, new AjaxOptions { UpdateTargetId = "result", HttpMethod = "GET", InsertionMode = InsertionMode.Replace })
                    @*<a href="/Admin/AdminTools/ListAgeCategories/@Model.Org.OrganizationId">Alderskategorier</a>*@
                </li>
                <li class="list-group-item">
                    <a href="/Admin/AdminTools/ActivateSport/@Model.Org.OrganizationId">Aktiver idrett</a>
                </li>
                <li class="list-group-item">
                    <a href="/Organization/CreateOrganizationSport/@Model.Org.OrganizationId">Legg til sport</a>
                </li>
            </ul>
            @*<div class="panel panel-default">
                <div class="page-header">
                    <div class="panel-heading">
                        @Model.Org.Sport
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/Admin/AdminTools/GetSeasons/@Model.Org.OrganizationId">Sesonger</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/Admin/AdminTools/ViewFederation/@Model.Org.OrganizationId">Disipliner</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/Admin/AdminTools/ListAgeCategories/@Model.Org.OrganizationId">Alderskategorier</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/Admin/AdminTools/ActivateSport/@Model.Org.OrganizationId">Aktiver idrett</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/Organization/CreateOrganizationSport/@Model.Org.OrganizationId">Legg til sport</a>
                        </li>
                    </ul>
                </div>
            </div>*@
        </div>

        <div class="col-md-9" id="result">
            @if (ViewBag.Title == "Detaljer")
            {
                @Html.Partial("PartialDescription", Model)
            }
            @Model.Org.Description
        </div>
        
    </div>
</div>
