﻿@model NTB.SportsData.Web.Areas.Admin.Models.EditCategoryViewModel

@{
    ViewBag.Title = "Endre alderskategori";

}
<form method="post" action="@Url.Action("UpdateSelectedAgeCategory", "Organization", new {Id = Model.AgeCategoryId, Area = "Admin"})">

    <input type="hidden" name="categoryId" value="@Model.AgeCategoryId"/>
    <input type="hidden" name="sportId" value="@Model.SelectedSport"/>
    <input type="hidden" name="orgId" value="@Model.OrganisationId"/>
    <fieldset class="col-md-12">
        <legend>@ViewBag.Title - @Model.AgeCategoryName</legend>
        <div class="row">
            <div class="col-md-6">
                <label for="categoryName">Name</label>
                <input type="text" name="categoryName" class="form-control" id="categoryName" value="@Model.AgeCategoryName"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="minage">Minimums alder</label>
                <input type="text" name="minage" value="@Model.MinAge" id="minage" class="form-control" />
            </div>
            <div class="col-md-3">
                <label for="maxage">Maksimum alder</label>
                <input type="text" name="maxage" value="@Model.MaxAge" class="form-control" id="maxage" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="ageCategoryDefinition">NTBs kategorisering</label>
                <select name="ageCategoryDefinition" class="form-control" id="ageCategoryDefinition">
                    @{
                        foreach (var ageCategoryDefinition in Model.AgeCategoryDefinitions)
                        {
                            if (ageCategoryDefinition.DefinitionId == Model.SelectedAgeCategoryDefinition)
                            {
                                <option selected="selected" value="@ageCategoryDefinition.DefinitionId">@ageCategoryDefinition.DefinitionName</option>
                            }
                            else
                            {
                                <option value="@ageCategoryDefinition.DefinitionId">@ageCategoryDefinition.DefinitionName</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="selectedSportId">Sport</label>
                <select name="selectedSportId" class="form-control" id="selectedSportId">
                    @{
                        foreach (var sport in Model.Sports)
                        {
                            if (sport.Id == Model.SelectedSport)
                            {
                                <option selected="selected" value="@sport.Id">@sport.Name</option>
                            }
                            else
                            {
                                <option value="@sport.Id">@sport.Name</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6 text-right">
                <input type="submit" value="Submit" class="btn btn-success" />&nbsp;
                <input type="reset" value="Reset" class="btn btn-default" />            
            </div>
        </div>
    </fieldset>
</form>
