﻿@model NTB.SportsData.Web.Areas.Admin.Models.EditTournamentViewModel

@{
    ViewBag.Title = "Endre";
}

<form method="post" action="@Url.Action("UpdateSelectedTournament", "Organization", new {Id = Model.TournamentId, Area = "Admin"})">

    <input type="hidden" name="ageCategoryId" value="@Model.HiddenAgeCategoryId"/>
    <input type="hidden" name="seasonId" value="@Model.HiddenSeasonId" />
    <input type="hidden" name="sportId" value="@Model.SelectedSport"/>
    <input type="hidden" name="genderId" value="@Model.SelectedGender"/>
    <input type="hidden" name="ageCategoryDefinitionId" value="@Model.SelectedAgeCategoryDefinition" />
    <input type="hidden" name="orgId" value="@Model.OrganisationId"/>
    <input type="hidden" name="tournamentNumber" value="@Model.TournamentNumber"/>
    <fieldset class="col-md-12">
        <legend>@ViewBag.Title - @Model.TournamentName</legend>
        <div class="row">
            <div class="col-md-6">
                <label for="tournamentName">Name</label>
                <input type="text" name="tournamentName" class="form-control" id="tournamentName" value="@Model.TournamentName" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="genders">Kjønn</label>
                <select name="genders" class="form-control" id="genders">
                    @{
                        foreach (var gender in Model.Genders)
                        {
                            if (gender.Id == Model.SelectedGender)
                            {
                                <option selected="selected" value="@gender.Id">@gender.Name</option>
                            }
                            else
                            {
                                <option value="@gender.Id">@gender.Name</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="ageCategoryDefinition">NTBs alderskategorisering</label>
                <select name="ageCategoryDefinition" class="form-control" id="ageCategoryDefinition">
                    @{
                        foreach (var ageCategoryDefinition in Model.AgeCategoryDefinitions)
                        {
                            if (ageCategoryDefinition.DefinitionId == Model.SelectedAgeCategoryDefinition)
                            {
                                <option selected="selected" value="@ageCategoryDefinition.DefinitionId">@ageCategoryDefinition.DefinitionName</option>
                            }
                            else
                            {
                                <option value="@ageCategoryDefinition.DefinitionId">@ageCategoryDefinition.DefinitionName</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="selectedSportId">Sport</label>
                <select name="selectedSportId" class="form-control" id="selectedSportId">
                    @{
                        foreach (var sport in Model.Sports)
                        {
                            if (sport.Id == Model.SelectedSport)
                            {
                                <option selected="selected" value="@sport.Id">@sport.Name</option>
                            }
                            else
                            {
                                <option value="@sport.Id">@sport.Name</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6 text-right">
                <input type="submit" value="Submit" class="btn btn-success" />&nbsp;
                <input type="reset" value="Reset" class="btn btn-default" />
            </div>
        </div>
    </fieldset>
</form>
