﻿@using NTB.SportsData.Services.NIF.NIFProdService
@model List<NTB.SportsData.Domain.Classes.Organization>
@{
    ViewBag.Title = "Index";
}

<h2>Organisasjoner</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>Forkortelse</th>
            <th colspan="2">&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="5"><a href="~/Admin/Organization/Create">Legg til</a></td>
        </tr>
    </tfoot>
    <tbody>
        @{
            foreach (var org in Model)
            {
                var modalId = "#" + org.OrganizationId + "modal";
                <tr>
                    <td>@org.OrganizationId</td>
                    <td><a href="~/Admin/Organization/Details/@org.OrganizationId">@org.OrganizationName</a></td>
                    <td>@org.OrganizationNameShort</td>
                    <td><a href="~/Admin/Organization/Edit/@org.OrganizationId">
                        
                            <img src="@Url.Content("~/Content/images/24x24/edit.png")" alt="Edit" title="Edit" />
                    </a></td>
                    <td><a href="#modalId" data-toggle="modal" data-target="@modalId"><img src="~/Content/images/24x24/delete.png" alt="Delete" title="Delete" /></a></td>
                </tr>
            }
        }
        
    </tbody>
</table>

@{
    foreach (var org in Model)
    {
        
        var modalId = org.OrganizationId + "modal";
        
        <!-- Modal -->
<div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Slette @org.OrganizationName</h4>
      </div>
        <div class="modal-body text-center">
          <p>Er du sikker på at du vil slette<br/>
              <strong>@org.OrganizationName</strong>
          </p>
      </div>
        <div class="modal-footer">
            <form method="POST" action="~/Admin/Organization/Delete">
            <input type="hidden" name="id" value="@org.OrganizationId"/>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-danger" value="Slett">
            </form>
        </div>
    </div>
  </div>
</div>
    }
}