﻿@model List<NTB.SportsData.Domain.Classes.Tournament>
           
<table class="table table-striped">
    <thead>
        <tr>
            <th>Alderskode</th>
            <th>Alderskode definisjon</th>
            <th colspan="2">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var tournament in Model)
            {
                <tr>
                    <td>@tournament.TournamentName</td>
                    <td>@tournament.AgeCategoryDefinition</td>
                    <td>
                        @*<a href="EditAgeCategories.cshtml"><img src="~/Content/images/32x32/edit.png"/></a>*@
                        @Ajax.ActionLink("Endre", "EditTournament", "Organization",
                        new { id = tournament.TournamentId },
                        new AjaxOptions { UpdateTargetId = "result", HttpMethod = "GET", InsertionMode = InsertionMode.Replace })
                    </td>
                    <td><a href="EditAgeCategories.cshtml"><img src="~/Content/images/32x32/delete.png" /></a></td>
                </tr>
            }
        }
    </tbody>
</table>

