﻿@model List<NTB.SportsData.Domain.Classes.Season>

<!-- Season selector -->
<div class="col-md-12">
    <form method="get" action="#" id="seasonForm">
        <input type="hidden" name="orgId" value="@ViewBag.OrgId"/>
        <select class="form-control" name="seasons" id="seasonSelect">
            <option value="">Velg sesong</option>
            @{
                foreach (var season in Model)
                {
                    <option value="@season.SeasonId">@season.SeasonName</option>
                }
            }
        </select>
    </form>
</div>

<!-- Tournament table -->
<div class="col-md-12" id="seasonSelectResult">

</div>