﻿@model List<NTB.SportsData.Domain.Classes.PartialResult>

<h2>Måltyper</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>Aktivited Id</th>
            <th>Organisasjon Id</th>
            <th colspan="2">&nbsp;</th>
            
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="6">
                @Ajax.ActionLink("Måltyper", "UpdatePartialResults", "Organization", new { id = ViewBag.OrgId }, new AjaxOptions { UpdateTargetId = "result", HttpMethod = "GET", InsertionMode = InsertionMode.Replace })
            </td>
        </tr>
    </tfoot>
    <tbody>
    @{
        if (@Model != null)
        {
            foreach (var partialResult in @Model)
            {
                <tr>
                    <td>@partialResult.TypeId</td>
                    <td>@partialResult.TypeName</td>
                    <td>@partialResult.ActivityId</td>
                    <td>@partialResult.OrgId</td>
                    <th colspan="2">&nbsp;</th>
                </tr>
            }
        }
    }
    </tbody>
</table>