﻿@model List<NTB.SportsData.Domain.Classes.Club>
@{
    ViewBag.Title = "List opp klubber";
}

<div class="container">
    <div class="panel">
        <div class="panel-heading">Klubber</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Klubb</th>
                        <th>Distrikt</th>
                        <th>Kommune</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="3">Antall klubber: @Model.Count | <a href="/Organization/ConnectClubs/@Session["OrgId"]">Koble flere klubber</a></td>
                    </tr>
                </tfoot>
                <tbody>
                    @{
                        foreach (var club in Model)
                        {
                            <tr>
                                <td>@club.ClubName</td>
                                <td>@club.DistrictId</td>
                                <td>@club.MunicipalityId</td>
                            </tr>
                        }
                    }
                </tbody>
                
            </table>
        </div>
    </div>
</div>