﻿@using NTB.SportsData.Domain.Classes
@model  Federation
<h2>@Model.FederationName</h2>
<div class="row">
    <form method="POST" action="/Admin/Organization/AddFederationDisciplines/@Model.FederationId">
        <fieldset class="col-md-8 col-md-offset-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Sport</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="2" style="text-align: right;"><input type="submit" value="Submit" class="btn btn-success" /></td>
                    </tr>
                </tfoot>
                <tbody>
                    @{
                        foreach (FederationDiscipline federationDiscipline in Model.FederationDisciplines)
                        {
                            <tr>
                                <td>@federationDiscipline.ActivityName</td>
                                <td>
                                    @{
                            string disciplineIdAndName = federationDiscipline.ActivityId + "|" + federationDiscipline.ActivityName;
                                    }
                                    <input type="checkbox" name="disciplines[]" value="@disciplineIdAndName" checked="checked" class="checkbox-inline" />@*@federationDiscipline.ActivityName*@
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </fieldset>
    </form>
</div>

