﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sportsdata</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("NTB SportsData", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", new {area = ""}, null)</li>
                        <li>@Html.ActionLink("About", "About", "Home", new {area = ""}, null)</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new {area = ""}, null)</li>
                        
                        @{
                            if (Context.User.IsInRole("Administrator"))
                            {
                                <li>
                                    <a href="/Customer/Index">Kunder</a>
                                </li>
                                <li>
                                    <a href="/Tools/Index">Verktøy</a>
                                </li>
                                <li class="dropdown">
                                    <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                        Administrasjonsverktøy <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                        <!-- <li><a href="/AdminTools/Index">Administrasjonsverktøy</a></li> -->
                                        <li><a href="/AdminTools/UpdateSportsTable">Oppdater Sportstabell</a></li>
                                        <li><a href="/AdminTools/ListSports">List opp idretter</a></li>
                                        <li><a href="/AdminTools/CreateMunicipalityTable">Lag Distrikt/Region-liste</a></li>
                                        <li><a href="/AdminTools/CreateCustomerXml">Lag XML-fil over kunder</a></li>
                                        <li class="dropdown-submenu">
                                            <a id="drop2" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Forbundsinformasjon</a>

                                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                                                <li><a href="/AdminTools/GetFederations">Forbundsliste</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a id="drop2" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Turneringer</a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                                                <li>
                                                    <a href="/AdminTools/Tournaments">Liste over turneringer</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Organisasjoner <span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                                                <li>
                                                    <a href="/Admin/Organization">Liste over Organisasjoner</a>
                                                </li>
                                                <li>
                                                    <a href="/Admin/Organization/Create">Legg til ny organisasjon</a>
                                                </li>
                                                <li>
                                                    <a href="/Admin/Organization/CreateSeason">Legg til ny sesong</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            }


                            <li>@Html.ActionLink("Sportskalender", "Index", "Calendar")</li>
    {
        if (Request.IsAuthenticated)
        {
            <li>
                <!--<a href="/input">SportsData Input</a> -->
                @Html.ActionLink("SportsData Input", "Index", "Home", new { area = "Input" }, null)


            </li>
            <li>
                @Html.ActionLink("SportsData Admin", "Index", "Home", new { area = "Admin" }, null)
            </li>
        }
    }
                        }
                            </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container-fluid body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - NTB Sportsdata</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jquery-ui")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", false)
    </body>
</html>