﻿@using System
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sportsdata - @ViewBag.Title</title>

        <link href="/Content/css/bootstrap.css" rel="stylesheet"/>

        <link href="/Content/css/bootstrap-carousel.css" rel="stylesheet"/>
        <link href="/Content/css/bootstrap-theme-ntb.css" rel="stylesheet"/>
        
        <!-- SmartMenus jQuery Bootstrap Addon CSS -->
        <link href="/Content/css/jquery.smartmenus.bootstrap.css" rel="stylesheet">
        <link href="/Content/jquery-ui.css" rel="stylesheet">

        @*@Styles.Render("~/Content/css")*@
        @Scripts.Render("~/bundles/modernizr")
    
        @{
        }

        
        
    </head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="width: 200px;">
                    <img src="/Content/images/ntb_logo.png" alt="NTB SportsData logo" id="logo"/>
                </a>
                
                @*@Html.ActionLink("NTB SportsData", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Hjem", "Index", "Home", new { area = "" }, null)</li>
                    @{
                        if (!Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Om", "About", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Kontakt", "Contact", "Home", new {area = ""}, null)</li>
                            <li>@Html.ActionLink("API", "Help", "api", new { area = "" }, null)</li>
                        }
}

                    @{

                        if (Context.User.IsInRole("Administrator"))
                        {
                            if (ViewContext.RouteData.DataTokens["area"] == null)
                            {

                                <li>@Html.ActionLink("Brukeradministrasjon", "Index", "UserManager", new { area = "Input" }, null)</li>
                                <li>@Html.ActionLink("Kundeadministrasjon", "Index", "Customer", new {area = "Admin"}, null)</li>
                        
                            }
                        }

                        if (Context.User.IsInRole("Bruker") ||
                            Context.User.IsInRole("Administrator"))
                        {
                        }

                        if (Request.IsAuthenticated)
                        {
                            <li>
                                @if (ViewContext.RouteData.DataTokens["area"] != null)
                                {
                                    if (ViewContext.RouteData.DataTokens["area"].ToString() == "Admin")
                                    {
                                        @Html.ActionLink("SportsData Input", "Index", "Home", new { area = "Input" }, null)
                                    }
                                    else if (ViewContext.RouteData.DataTokens["area"].ToString() == "Input")
                                    {
                                        @Html.ActionLink("SportsData Admin", "Index", "Home", new { area = "Admin" }, null)
                                    }
                                }
                            </li>

                            if (ViewContext.RouteData.DataTokens["area"] != null)
                            {
                                if (ViewContext.RouteData.DataTokens["area"].ToString() == "Input")
                                {
                                    if (Context.User.IsInRole("Bruker") ||
                                        Context.User.IsInRole("Administrator"))
                                    {
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kampadministrering <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li>@Html.ActionLink("Kampadministrasjon", "Index", "MatchManager", new {area = "Input"}, new {id = "matchreg"})</li>
                                                <li>@Html.ActionLink("Dagsoversikt", "MatchOverview", "MatchManager", new { area = "Input" }, new { id = "matchreg" })</li>
                                            </ul>
                                        </li>
                        

                                    }
                                }


                                if (ViewContext.RouteData.DataTokens["area"].ToString() == "Input")
                                {
                                    if (Context.User.IsInRole("Administrator"))
                                    {
                                        <li>@Html.ActionLink("Brukeradministrasjon", "Index", "UserManager")</li>
                                    }
                                }

                                if (ViewContext.RouteData.DataTokens["area"].ToString() == "Input")
                                {
                                    if (Request.IsAuthenticated)
                                    {
                                        <li>@Html.ActionLink("Kampregistrering", "Index", "MatchRegister")</li>
                                    }
                                }

                                if (ViewContext.RouteData.DataTokens["area"].ToString() == "Admin")
                                {
                                    <li>
                                        @Html.ActionLink("Kunder", "Index", "Customer", new { area = "Admin" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Verktøy", "Index", "Tools", new { area = "Admin" }, null)
                                    </li>
                                    <li class="dropdown">
                                        <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" data-submenu>
                                            Administrasjonsverktøy <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                            <!-- <li>
                                                @Html.ActionLink("Administrasjonsverktøy", "Index", "AdminTools", new { area = "Admin" }, null)
                                            </li> -->
                                            <li>
                                                @Html.ActionLink("Oppdater Sportstabell", "UpdateSportsTable", "AdminTools", new { area = "Admin" }, null)
                                            </li>
                                            <li>
                                                @Html.ActionLink("List opp idretter", "ListSports", "AdminTools", new { area = "Admin" }, null)
                                            <li>
                                                @Html.ActionLink("Lag Distrikt/Region-liste", "CreateMunicipalityTable", "AdminTools", new { area = "Admin" }, null)
                                            </li>
                                            <li>
                                                @Html.ActionLink("Lag XML-fil over kunder", "CreateCustomerXml", "AdminTools", new { area = "Admin" }, null)
                                            </li>
                                            <li>
                                                <a href="#">Forbundsinformasjon <span class="caret"></span></a>
                                                
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        @Html.ActionLink("Forbundsliste", "GetFederations", "AdminTools", new {area = "Admin"}, null)
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Turneringer <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        @Html.ActionLink("Liste over turneringer", "Tournaments", "AdminTools", new { area = "Admin" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Organisasjoner <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        @Html.ActionLink("Liste over Organisasjoner", "Index", "Organization", new { area = "Admin" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("Legg til ny organisasjon", "Create", "Organization", new { area = "Admin" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("Legg til ny sesong", "CreateSeason", "Organization", new { area = "Admin" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                }
                            }
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NTB Sportsdata</p>
        </footer>
    </div>


@*@Scripts.Render("~/bundles/jquery")*@
<script src="/Scripts/jquery-2.1.3.min.js"></script>

@*@Scripts.Render("~/bundles/bootstrap")*@
<script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/respond.js"></script>
    @Scripts.Render("~/bundles/jquery-ui")

    @RenderSection("scripts", false)

    @{
        if (ViewContext.RouteData.DataTokens["area"] != null && ViewContext.RouteData.DataTokens["area"].ToString() == "Admin")
        {
            
                <script type="text/javascript">
                    $(document).ready(function() {
                        $.urlParam = function(name) {
                            var results = new RegExp('[\\?&amp;]' + name + '=([^&amp;#]*)').exec(window.location.href);
                            return results[1] || 0;
                        };

                        //            $(".definelink").click(function() {
                        //                var defineId = $(this).attr("id");
                        //                var newId = defineId.replace("definejob", "");
                        //                var customerId = @Session["CustomerId"];
                        //                var ageCategoryId = $.urlParam('AgeCategoryId');

                        //                $("#Districts").load("/Customer/GetJobName/", {
                        //                        'JobId': newId,
                        //                        'CustomerId': customerId,
                        //                        'ageCategoryId': ageCategoryId
                        //                    },
                        //                    function(data, status, response) {
                        //                        var foo = $(this).data;
                        //
                        //                    }
                        //                );
                        //                return false;
                        //            });

                        $("#updateTournaments").submit(function() {

                            $('#loadingDiv')
                                .hide() // hide it initially
                                .ajaxStart(function() {
                                    $(this).show();
                                })
                                .ajaxStop(function() {
                                    $(this).hide();
                                });

                            var selectedItems = new Array();

                            $("#sesong :selected").each(function() {
                                selectedItems.push($(this).val());
                                // returnArea = $(this).attr("class");
                                // returnArea = $("#tournaments").val();
                            });

                            $.ajax({
                                type: "POST",
                                url: "/Area/Admin/AdminTools/UpdateTournaments",
                                data: {
                                    sesonger: selectedItems.join(',')
                                },
                                dataType: "text",
                                cache: false,
                                success: function(request) {
                                    // don't do much
                                },
                                error: function(xhr, ajaxOptions, error) {
                                    // alert('Error receiving tournaments from selected municipalities.');
                                    alert(xhr.status);
                                    alert(error);
                                    // $("#" + xhr.status).html(request.valueOf().toString() + "\r\n" + error);
                                }
                            });
                            return false;
                        });


//        $("#sports").bind('change', function (event) {

                        //            var sports = $(this).val();
                        //            $("#calendar").load('/Calendar/GetSportById/',
                        //            {
                        //                'SportId': sports
                        //            },
                        //            function (data, status, response) {
                        //                $(this).html(data);
                        //            }
                        //        );
                        //        });


                        //        $("#submitTournaments").click(function () {
                        //            alert("jahaHm!");


                        //            return false;
                        //        });
                        //        // $("a.hideKommune").click(function () {
                        //        $('.formlist').hide();


                    });
                </script>
            <script language="javascript" type="text/javascript" src="/Scripts/SportsData.js"></script>

            <!-- SmartMenus jQuery plugin -->
            <script type="text/javascript" src="/Scripts/jquery.smartmenus.js"></script>

            <!-- SmartMenus jQuery Bootstrap Addon -->
            <script type="text/javascript" src="/Scripts/jquery.smartmenus.bootstrap.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        }
}
    
</body>
</html>