﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sportsdata</title>
     @Styles.Render("~/Content/css") 
    @*<link rel="text/css" href="~/Content/bootstrap-theme.min.css"/>
    <link rel="text/css" href="~/Content/bootstrap.min.css"/>
    <link href="/Content/css/bootstrap-carousel.css" rel="stylesheet">
    <link href="/Content/css/bootstrap-theme-ntb.css" rel="stylesheet">
    <link rel="text/css" href="~/Content/jquery-ui.css" />*@
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NTB SportsData", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
                    @{

                        if (Context.User.IsInRole("Administrator"))
                        {
                            <li>@Html.ActionLink("Brukeradministrasjon", "Index", "UserManager")</li>
                            <li>@Html.ActionLink("Kundeadministrasjon", "Index", "UserManager")</li>
                        }

                        if (Context.User.IsInRole("Bruker") ||
                            Context.User.IsInRole("Administrator"))
                        {


                        }

                        if (Request.IsAuthenticated)
                        {
                            <li>
                                <!--<a href="/input">SportsData Input</a> -->
                                @Html.ActionLink("SportsData Input", "Index", "Home", new { area = "Input" }, null)


                            </li>
                            <li>
                                @Html.ActionLink("SportsData Admin", "Index", "Home", new { area = "Admin" }, null)
                            </li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NTB Sportsdata</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
