﻿@model NTB.SportsData.Web.Areas.Input.Models.ChangePasswordModel

@using (Html.BeginForm("ChangePassword", "UserManager", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    
    <br />
    <div class="container">
        <div class="col-md-6 col-md-offset-2">
            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Endre passord
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1 text-right">
                                <input type="submit" class="btn btn-success" value="Endre" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}