﻿@model NTB.SportsData.Web.Areas.Input.Models.DetailsViewModel
<br />
<div class="container">
    <div class="col-md-6 col-md-offset-2">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    
                        <h4>Detaljer: @Model.Fullname</h4>
                    
                </div>
                <div class="panel-body">
                    <div class="row">
                        <label class="col-md-3">Fullt navn:</label>@Model.Fullname<br />
                    </div>
                    <div class="row">
                        <label class="col-md-3">E-post:</label>@Model.Email<br />
                    </div>
                    <div class="row">
                        <label class="col-md-3">Telefon:</label>@Model.PhoneNumber<br />
                    </div>
                </div>
                <div class="panel-footer">
                    @Html.ActionLink("Endre", "Edit", new {  id = Model.UserId }) |
                    @Html.ActionLink("Endre passord", "ChangePassword", new { id = Model.UserId })
                </div>
            </div>
        </div>
    </div>
</div>