﻿@model NTB.SportsData.Web.Areas.Input.Models.UpdateViewModel
@{
    ViewBag.Title = "Endre";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Edit", "UserManager", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Endre eksisterende bruker.</h4>
    <hr />
    @Html.ValidationSummary()
    @Html.EditorFor(m => m.UserId)
    @Html.EditorFor(m => m.OldRole)
    
    
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.RoleItems, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <!-- @Html.DropDownListFor(m => m.SelectedRoleName, Model.RoleItems, new { @class = "form-control" }) -->
            <select name="SelectedRoleId" class="form-control">
                @{
    foreach (var Role in Model.RoleItems)
    {
        if (Role.Text == Model.SelectedRoleName)
        {
            <option selected="selected" value="@Role.Value">@Role.Text</option>
        }
        else
        {
            <option value="@Role.Value">@Role.Text</option>
        }

    }
                }
            </select>

        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Endre" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
