﻿@using NTB.SportsData.Domain.Classes
@model UserProfileView
@{
    ViewBag.Title = "Brukeradministrasjon";
}

<h2>Brukeradministrasjon</h2>
<form method="POST" action="/UserManager/SetWorkRoles">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Epost</th>
            <th>Brukernavn</th>
            <th>Online</th>
            <th>Siste login dato</th>
            <th colspan="2">@Html.ActionLink("Legg til bruker", "Create", "UserManager")
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="5">&nbsp;</td>
            <td colspan="2"><input class="btn btn-success" type="submit" value="Submit"/></td>
        </tr>
    </tfoot>
    <tbody>

        @{
            foreach (UserProfile u in Model.UserProfiles)
            {
                var editLink = "Edit/" + u.UserId;
                var deleteLink = "Delete/" + u.UserId;
                <input type="hidden" name="userid[]" value="@u.UserId" />
                <tr>
                    <td>@u.FullName</td>
                    <td>@u.Email</td>
                    <td>@u.UserName</td>
                    <td>&nbsp;</td>
                    <td>@u.LastLoginDate.ToShortDateString()</td>
                    <td>@Html.ActionLink("Edit", editLink, "UserManager")</td>
                    <td>@Html.ActionLink("Delete", deleteLink, "UserManager")</td>
                </tr>
            }
        }
    </tbody>
</table>
</form>