﻿<form method="POST" action=""></form>
@using (Html.BeginForm("Create", "UserManager"))
{
    <fieldset>
    <legend>Legg til bruker</legend>
    <div>
        <label for="username">Brukernavn</label>
        <input type="text" name="username"/>
    </div>

    <div>
        <label for="firstname">Fornavn</label>
        <input type="text" name="firstname"/>
    </div>

    <div>
        <label for="lastname">Etternavn</label>
        <input type="text" name="lastname"/>
    </div>

    <div>
        <label for="email">E-post</label>
        <input type="text" name="email"/>
    </div>

    <div>
        <label for="password">Passord</label>
        <input type="text" name="password"/>
    </div>

    <div>
        <label for="roles">Roller</label>
        <select name="roles">
            @{
                foreach (var role in Roles.GetAllRoles())
                {
                    <option value="@role">@role</option>
                }
            }
        </select>
    </div>

    <div>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </div>
    </fieldset>
}