﻿@model NTB.SportsData.Domain.Classes.UserProfile
           @using (Html.BeginForm("Edit/" + Model.UserId, "UserManager"))
{
    <fieldset>
        <legend>Endre bruker</legend>
        <div class="form-group">
            <label for="username">Brukernavn</label>
            <input class="form-control" type="text" name="username" value="@Model.UserName" />
        </div>

        <div class="form-group">
            <label for="firstname">Fornavn</label>
            <input class="form-control"  type="text" name="firstname" value="@Model.FirstName" />
        </div>

        <div class="form-group">
            <label for="lastname">Etternavn</label>
            <input class="form-control"  type="text" name="lastname" value="@Model.LastName" />
        </div>

        <div class="form-group">
            <label for="email">E-post</label>
            <input class="form-control" type="text" name="email" value="@Model.Email" />
        </div>

        <div class="form-group">
            <label for="roles">Roller</label>
            <select class="form-control" name="roles">
                @{
                    // TODO: Fix the model for role
                    foreach (var role in Model.Roles)
                    {

                        if (role == Model.SelectedRole)
                        {
                            <option selected="selected" value="@role">@role</option>
                        }
                        else
                        {
                            <option value="@role">@role</option>
                        }
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Submit" />
            <input class="btn btn-default" type="reset" value="Reset" />
        </div>
    </fieldset>
}