﻿
@{
    ViewBag.Title = "NTB sportsdata";
}

<h2>NTB sportsdata</h2>
<p>NTB sportsdata leverer resultater, tabeller og annet databasert innhold fra en rekke norske og internasjonale idrettsforbund, tidtakere og arrangører.</p>
<p>Vi tilbyr bred dekning av norsk fotball, håndbal, hockey, bandy og innebandy, og gir tilgang til alle resultater for senior og aldersbestemte klasser.</p>
<p>Videre leverer vi resultater fra arrangementer som Norway Cup, Oslo Maraton, Birken, Vasaloppet, Styrkeprøven og en rekke andre nasjonale og internasjonale sportsbegivenheter.</p>