﻿@{
    ViewBag.Title = "CheckTournament";
}

<h2>CheckTournament</h2>
<div class="col-md-8 col-md-offset-2">
    <form method="POST" action="/Admin/AdminTools/CheckTournament">
        <input type="text" name="tournamentId" class="form-control" />&nbsp;
        <input type="submit" value="Sjekk" class="btn btn-success" />
    </form>
</div>