﻿@model List<AgeCategory>
@using NTB.SportsData.Domain.Classes
@using NTB.SportsData.Web.Areas.Admin.Repositories


@{
    ViewBag.Title = "Endre alderskategori";

    var ageCategoryDefinitionRepository = new AgeCategoryDefinitionRepository();
    var ageCategoryDefinitions = new List<AgeCategoryDefinition>(ageCategoryDefinitionRepository.GetAll());
}
<h2>@ViewBag.Title</h2>

<fieldset class="col-md-8 col-md-offset-2">
    <form method="POST" action="/Admin/AdminTools/EditAgeCategories/@ViewBag.OrgId">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Alderskategori</th>
                    <th>Minste alder</th>
                    <th>Maks alder</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4" style="text-align: right">
                        <input type="submit" value="Endre" class="btn btn-success" />
                    </td>
                </tr>
            </tfoot>
            <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (AgeCategory ageCategory in Model)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" name="categoryName[]" value="@ageCategory.CategoryName" />
                                    <input type="hidden" name="categoryId[]" value="@ageCategory.CategoryId" />
                                    <input type="hidden" name="sportId[]" value="@ageCategory.SportId" />
                                    @ageCategory.CategoryName
                                </td>

                                <td>
                                    <label for="maxage">Minimum alder</label>
                                    <input type="text" name="minage[]" value="@ageCategory.MinAge" />

                                </td>
                                <td>
                                    <label for="maxage">Maksimum alder</label>
                                    <input type="text" name="maxage[]" value="@ageCategory.MaxAge" />
                                </td>
                                <td>
                                    <select name="ageCategory[]">
                                        @foreach (AgeCategoryDefinition ageCategoryDefinition in ageCategoryDefinitions)
                                        {
                                            if (ageCategory.AgeCategoryDefinitionId == ageCategoryDefinition.DefinitionId)
                                            {
                                                <option selected="selected" value="@ageCategoryDefinition.DefinitionId">@ageCategoryDefinition.DefinitionName</option>
                                            }
                                            else
                                            {
                                                <option value="@ageCategoryDefinition.DefinitionId">@ageCategoryDefinition.DefinitionName</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </form>
</fieldset>