﻿@model AgeCategory
@using NTB.SportsData.Web.Areas.Admin.Repositories
@using NTB.SportsDataAdmin.Application.Models.Repositories


@{
    ViewBag.Title = "Endre alderskategori";

    var ageCategoryDefinitionRepository = new AgeCategoryDefinitionRepository();
    List<AgeCategoryDefinition> ageCategoryDefinitions = new List<AgeCategoryDefinition>(ageCategoryDefinitionRepository.GetAll());
}


<form method="POST" action="/AdminTools/EditSelectedAgeCategory/@ViewBag.OrgId">
    <input type="hidden" name="categoryId" value="@Model.CategoryId"/>
    <fieldset style="width: 50%; padding: 10px;">
        <legend>Edit Selected Age Category - @Model.CategoryName</legend>
        <div>
            <label for="minage">Minimums alder</label>
            <input type="text" name="minage" value="@Model.MinAge"/>
        </div>
        <div class="clear"></div><br/>
        <div>
            <label for="maxage">Maksimum alder</label>
            <input type="text" name="maxage" value="@Model.MaxAge"/>
        </div>
    
        <div class="clear"></div><br/>
        <div>
            <label for="maxage">NTBs kategorisering</label>
            <select name="ageCategoryDefinition">
                @{
                    foreach (AgeCategoryDefinition ageCategoryDefinition in ageCategoryDefinitions)
                    {
                        if (ageCategoryDefinition.DefinitionId == Model.AgeCategoryDefinitionId)
                        {
                            <option selected ="selected" value="@ageCategoryDefinition.DefinitionId">@ageCategoryDefinition.DefinitionName</option>
                        }
                        else
                        {
                            <option value="@ageCategoryDefinition.DefinitionId">@ageCategoryDefinition.DefinitionName</option>
                        }
                    }
                }
            </select>
        </div>
        <div style="text-align: center">
            <input type="submit" value="Submit"/>&nbsp;&nbsp;
            <input type="reset" value="Reset"/>
        </div>
    </fieldset>
</form>