﻿@model List<Season>
@{
    ViewBag.Title = "GetNewTournaments";
}

<h2>Sjekk for nye turneringer</h2>

<h3>Sesong</h3>
<form method="POST" action="/AdminTools/UpdateTournaments">
    <input type="hidden" name="sportId" value="@Model[0].SportId"/>
    <select name="sesong" id="sesong" size="10">
        @foreach (Season season in Model)
        {
            <option value="@season.SeasonId">@season.SeasonName</option>
        }
    </select>
    <input type="submit" value="Oppdater"/>
</form>