﻿@using NTB.SportsData.Domain.Classes
@model SeasonView
@{
    ViewBag.Title = "Sesonger";
}

<h2>Sesonger</h2>
<form method="POST" action="/AdminTools/SetSeasonsDisciplines/@Model.SportId">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Startdato</th>
            <th>Sluttdato</th>
            <th>Aktiv</th>
            <th colspan="3">&nbsp;</th>
            <th>Disiplin</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="7">&nbsp;</td>
            <td><input type="submit" value="Registrer" class="btn btn-success"/></td>
        </tr>
    </tfoot>
    <tbody>
        @{
            foreach (Season season in Model.Seasons)
            {
                <tr>
                    <td>@season.SeasonName</td>
                    <td>@season.SeasonStartDate</td>
                    <td>@season.SeasonEndDate</td>
                    <td>@season.SeasonActive</td>
                    <td><a href="/Admin/AdminTools/EditSeason/@season.SeasonId">Edit</a></td>
                    <td><a href="/Admin/AdminTools/DeleteSeason/@season.SeasonId">Delete</a></td>
                    @{
                        if (season.SeasonActive == false)
                        {
                            <td><a href="/Admin/AdminTools/ActivateSeason/@season.SeasonId">Sett aktiv</a></td>
                        }
                        else
                        {
                            <td><a href="/Admin/AdminTools/DeActivateSeason/@season.SeasonId">Sett inaktiv</a></td>
                        }
                    }
                    <td>
                        <input type="hidden" name="seasonid[]" value="@season.SeasonId"/>
                        <select name="discipline[]" id="@season.SeasonId" class="form-control">
                            <option value="">Velg disiplin</option>
                            @{
                                foreach (FederationDiscipline federationDiscipline in Model.FederationDisciplines)
                                {
                                    if (season.FederationDiscipline == federationDiscipline.ActivityId)
                                    {
                                        <option selected="selected" value="@federationDiscipline.ActivityId">@federationDiscipline.ActivityName</option>
                                    }
                                    else
                                    {
                                        <option value="@federationDiscipline.ActivityId">@federationDiscipline.ActivityName</option>
                                    }
                                }
                            }
                        
                        </select>
                        
                    
                    </td>
                
                </tr>
            }
        }
    </tbody>
</table>
</form>