﻿@model List<NTB.SportsData.Domain.Classes.Season>

@{
        ViewBag.Title = "Sesonger";
    }

    <h1>@ViewBag.Title</h1>
    <form method="POST" action="GetTournaments">
        <select name="seasons" class="form-control">
            @{
                foreach (var season in Model)
                {
                    <option value="@season.SeasonId">@season.SeasonName</option>
                }
            }
        </select>
        <input type="submit" class="btn btn-success"/>
    </form>
