﻿@{
    ViewBag.Title = "Administrasjonsverktøy";
}

<h2>@ViewBag.Title</h2>
<ul>
    <li><a href="/Admin/AdminTools/UpdateSportsTable">Oppdater Sportstabell</a></li>
    <li><a href="/Admin/AdminTools/ListSports">List idretter</a></li>
    <li><a href="/Admin/AdminTools/CreateMunicipalityTable">Lag Distrikt/Region-liste</a></li>
    <li><a href="/Admin/AdminTools/CreateCustomerXml">Lag XML-fil over kunder</a></li>
</ul>

<h2>Forbundsinformasjon</h2>
<ul>
    <li><a href="/Admin/AdminTools/GetFederations">Forbundsliste</a></li>
</ul>

<h2>Turneringer</h2>
<ul>
    <li><a href="/Admin/AdminTools/Tournaments">Turneringer</a></li>
</ul>

<!--
    <h2>Alderskategorier</h2>
    <ul>
        <li><a href="/AdminTools/SelectAgeCategorySport">Legg til eller endre alderskategorier</a></li>
        <li><a href="/AdminTools/ChangeAgeCategory">Endre Alderskategorier</a></li>
    </ul>
    
-->