﻿@model NTB.SportsData.Web.Areas.Admin.Models.ViewModels.AgeCategoryViewModel

@{
    var orgId = Model.OrgId;
    var agecategories = Model.AgeCategories;
}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Alderskategorier</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Admin/AdminTools/AddAgeCategory/@orgId">Legg til ny alderskategori<span class="sr-only">(current)</span></a></li>
                <li><a href="/Admin/AdminTools/RenewAgeCategories/@orgId">Last inn alderskategorier på nytt</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Alderskode</th>
        <th>Alderskode definisjon</th>
        <th colspan="2">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
        @{
            foreach (var ageCategory in agecategories)
            {
                <tr>
                    <td>@ageCategory.CategoryName</td>
                    <td>@ageCategory.AgeCategoryDefinition</td>
                    <td>
                        @*<a href="EditAgeCategories.cshtml"><img src="~/Content/images/32x32/edit.png"/></a>*@
                        @Ajax.ActionLink("Endre", "EditAgeCategory", "Organization", 
                        new { id = @ageCategory.CategoryId }, 
                        new AjaxOptions { UpdateTargetId = "result", HttpMethod = "GET", InsertionMode = InsertionMode.Replace })
                    </td>
                    <td>
                        
                        <a href="/Admin/Organization/DeleteAgeCategory/@ageCategory.CategoryId"><img src="~/Content/images/32x32/delete.png"/></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>