﻿@using NTB.SportsData.Domain.Classes
@model List<Sport>

<h2>Idretter</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-md-1">Sport Id</th>
            <th class="col-md-1">Sport</th>
            <th class="col-md-1">Single Sport</th>
            <th class="col-md-1">Team Sport</th>
            <th class="col-md-1">Org Id</th>
            <th class="col-md-1">Organization</th>
            <th class="col-md-3" colspan="3">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Sport sport in Model)
            {
                <tr>
                    <td class="col-md-1">@sport.Id</td>
                    <td class="col-md-1">@sport.Name</td>
                    <td class="col-md-1">@sport.HasIndividualResult</td>
                    <td class="col-md-1">@sport.HasTeamResults</td>
                    <td class="col-md-1">@sport.OrgId</td>
                    <td class="col-md-1">@sport.OrgName</td>
                    <td class="col-md-1"><a href="/Admin/AdminTools/GetSeasons/@sport.Id">Hent Sesonger</a></td>
                    <td class="col-md-1"><a href="/Admin/AdminTools/GetTournaments/@sport.Id">Hent turneringer</a></td>
                    <td class="col-md-1"><a href="/Admin/AdminTools/DeleteSport/@sport.Id">Slett</a></td>
                </tr>
            }

        }
    </tbody>
</table>