﻿@using NTB.SportsData.Domain.Classes
@model NTB.SportsData.Domain.Classes.TournamentListViewModel
@{
    ViewBag.Title = "Turneringer";
}

<fieldset>
    <div>
        <div style="float:left;">
            <h2>Turneringer</h2>
            <form method="POST" action="/Admin/AdminTools/UpdateTournamentsWithAgeCategory/">
                <input type="hidden" name="sport" value="@Model.SportId"/>
                <input type="hidden" name="season" value="@Model.SeasonId" />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Navn</th>
                            <th>Turneringsid</th>
                            <th>NTB Alderskategori</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                            <td><input type="submit" value="Submit" class="btn btn-success"/></td>
                            <td>&nbsp;</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{
                            foreach (Tournament tournament in Model.Tournaments)
                            {
                                <tr>
                                    <td>@tournament.TournamentName</td>
                                    <td>@tournament.TournamentId</td>
                                    <td>
                                        <select name="alderskategori[]" class="form-control">
                                            @{
                                                var ac = "aldersbestemt";
                                    
                                                if (tournament.AgeCategoryDefinitionId == 0)
                                                {

                                                    if (tournament.TournamentName.ToLower().Contains("kvinner") ||
                                                        tournament.TournamentName.ToLower().Contains("damer") ||
                                                        tournament.TournamentName.ToLower().Contains("menn") ||
                                                        tournament.TournamentName.ToLower().Contains("herrer") ||
                                                        tournament.TournamentName.ToLower().Contains("senior") ||
                                                        tournament.TournamentName.ToLower().Contains("divisjon"))
                                                    {
                                                        ac = "senior";
                                                    }
                                                }

                                                foreach (AgeCategoryDefinition ageCategoryDefinition in Model.AgeCategoryDefinitions)
                                                {
                                                    if (ac.ToLower() == ageCategoryDefinition.DefinitionName.ToLower()
                                                        ||
                                                        tournament.AgeCategoryDefinitionId == ageCategoryDefinition.DefinitionId)
                                                    {
                                                        <option value="@ageCategoryDefinition.DefinitionId" selected="selected">@ageCategoryDefinition.DefinitionName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@ageCategoryDefinition.DefinitionId">@ageCategoryDefinition.DefinitionName</option>
                                                    }
                                                }
                                            }        
                                        </select>
                                        <input type="hidden" name="tournamentId[]" value="@tournament.TournamentId"/>
                                    </td>
                                    <td><a href="/Admin/AdminTools/GetMatches/@tournament.TournamentId?sportId=@tournament.SportId">Hent Kamper</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </form>
        </div>
        <div>
            <div style="float:right; padding: 20px 20px 20px 20px; background-color: #f0f0f0;margin-top:20px;">
                <a href="/AdminTools/GetNewTournaments/@Model.SportId">Sjekk for flere turneringer</a>
            </div>
        </div>
    </div>
</fieldset>