﻿@using NTB.SportsData.Domain.Classes
@model List<NTB.SportsData.Domain.Classes.Sport>
           
@{
    ViewBag.Title = "Turneringer";
}
<h2>Turneringer</h2>

<form method="POST" action="/Admin/AdminTools/GetTournamentSeasons">
    <select name="sport" class="form-control">
        <option value="-1">Velg idrett</option>
        @{
            foreach (Sport sport in Model.Where(x => x.HasTeamResults == 1))
            {
                <option value="@sport.Id">@sport.Name</option>
            }
        }
    </select>
    <input type="submit" value="Hent turneringer" class="btn btn-success"/>
</form>
