﻿@using NTB.SportsData.Domain.Classes
@model List<Sport>

@{
    ViewBag.Title = "Oppdater sportstabell";
}

<h2>@ViewBag.Title</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-md-1">Sport Id</th>
            <th class="col-md-2">Sport</th>
            <th class="col-md-1">Single Sport</th>
            <th class="col-md-1">Team Sport</th>
            <th class="col-md-1">Org Id</th>
            <th class="col-md-3">Organization</th>
            <th class="col-md-2">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var sport in Model)
            {
                <tr>
                    <td>@sport.Id</td>
                    <td>@sport.Name</td>
                    <td>@sport.HasIndividualResult</td>
                    <td>@sport.HasTeamResults</td>
                    <td>@sport.OrgId</td>
                    <td>@sport.OrgName</td>
                    <td><a href="/AdminTools/DeleteSport/@sport.Id">Slett</a></td>
                </tr>
            }

        }
    </tbody>
</table>