@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using NTB.SportsData.Api.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "SportsData API Help";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" /> 
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                NTB SportsData API is an interface to get sports data for your desktop, web or mobile application. <br/>
                Through the API you get access to data from many national and international sports federations.
            </p>
            <h3>
                Getting access
            </h3>
            <p>
                In order to get access to this API, you have to be a subscriber. To get a subscription, you get in touch with the Sales Department at NTB. 
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
