﻿@model List<NTB.SportsData.Domain.Classes.Sport>

@section scripts {
    <script language="javascript" type="text/javascript">

        $(document).ready(function() {
            var jobid = getUrlVars()['JobId'];

            if (jobid != "") {
                $("#joblegend").load('/Customer/GetJobName',
                    {
                        'JobId': getUrlVars()['JobId']
                    },
                    function(data, status, response) {
                        $("#joblegend").html(data);
                    });
            }

        });

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
    </script>
}