﻿@model Customer
@using NTB.SportsData.Web.Areas.Admin.Repositories
@using NTB.SportsData.Domain.Classes

@{
    var repository = new MediaHouseRepository();
    ViewBag.Title = "Opprett kunde";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="row">
        <fieldset class="col-md-8 col-md-offset-2">
            <legend>Opprett Kunde</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Navn</label>
                        <input type="text" value="@Model.Name" name="Name" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>E-Post</label>
                        <input type="text" value="@Model.Email" name="Email" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Adresse</label>
                        <input name="Address" value="@Model.Address" class="form-control" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Postnummer</label>
                        <input name="PostalCode" value="@Model.PostalCode" class="form-control" />
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Sted</label>
                        <input name="city" value="@Model.City" class="form-control" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Telefon</label>
                        <input name="Telephone" value="@Model.Telephone" class="form-control" />
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Mediehus</label>
                        <select name="MediaHouseId" class="form-control">
                            <option value="0">&nbsp;</option>
                            @{
    // Todo - create an EditView
    var mediaHouses = new List<MediaHouse>(repository.GetAll());

    foreach (MediaHouse mediaHouse in mediaHouses)
    {
        if (mediaHouse.MediaHouseId == Model.MediaHouseId)
        {
            <option selected="selected" value="@mediaHouse.MediaHouseId">@mediaHouse.MediaHouseName</option>
        }
        else
        {
            <option value="@mediaHouse.MediaHouseId">@mediaHouse.MediaHouseName</option>
        }
    }

                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>TT Kundenummer</label>
                        <input name="TtCustomerId" value="@Model.TtCustomerId" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
                <fieldset>
                    <legend>API</legend>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>API brukernavn</label>
                            <input name="apiUsername" value="@Model.ApiUsername" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>API passord</label>
                            <input name="apiPassword" value="@Model.ApiPassword" class="form-control" />
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Lagre" class="btn btn-success" />
                    </div>
                </div>
            </div>

        </fieldset>
    </div>
}

<div class="row">
    <div class="col-md-9 col-md-offset-2">
        <div>
            @Html.ActionLink("Tilbake til kundelisten", "Index")
        </div>
    </div>
</div>