﻿@using NTB.SportsData.Domain.Classes
@model List<AgeCategory>

<select name="AgeCategories" id="AgeCategories">
    @{
        <option value="0">Filter</option>
        foreach (AgeCategory myAgeCategory in Model)
        {
            <option value="@myAgeCategory.CategoryId">@myAgeCategory.CategoryName</option>
        }

    }
</select>