﻿@using NTB.SportsData.Domain.Classes
@model List<Tournament>

@{
    var customerId = Session["CustomerId"];
}

<div id="tournaments" class="col-md-2 col-md-offset-1">
    <div id="loadingDiv">
        <img src="/Content/images/ajax-loader.gif"/>
    </div>
    <a href="#" id="velgAlleTurneringer">Velg alle turneringer</a><br />
    
    <form method="post" action="/Customer/StoreTournaments/@customerId" name="selTournaments" id="sel_Tournaments">
        <input type="hidden" name="SportsId" value="@ViewBag.SportId" />
        <input type="hidden" name="JobId" value="@ViewBag.JobId"/>
        <input type="hidden" name="seasonId" value="@ViewBag.SeasonId" />

        @{
            // Looping the object and creating the form fields.
            // The hidden field contains the ID of the municipality this tournament is played in.
            int storedAgeCategory = 0;

            if (Model != null)
            {
                foreach (Tournament viewJobsTournament in Model)
                {
                    // var hiddenTournamentNameId = "Tournament_" + viewJobsTournament.TournamentNumber;
                    var tournamentIdAndNumber = viewJobsTournament.TournamentNumber.Trim() + "/" + viewJobsTournament.TournamentId;
                    if (viewJobsTournament.AgeCategoryId != storedAgeCategory && storedAgeCategory > 0)
                    {
                        <br />
                    }

                    if (viewJobsTournament.AgeCategoryId != null)
                    {
                        storedAgeCategory = (int) viewJobsTournament.AgeCategoryId;
                    }
                    <input type="hidden" name="SelectedMunicipalities" value="@viewJobsTournament.MunicipalityId" />
                    var classAcceptedTournament = "acceptedTournament";
                    if (viewJobsTournament.TournamentAccepted == 0)
                    {
                        classAcceptedTournament = "unacceptedTournament";
                    }

                    if (viewJobsTournament.TournamentSelected)
                    {
                        <input class="selTournaments @classAcceptedTournament" type="checkbox" name="selectedTournaments" value="@tournamentIdAndNumber"  checked="checked" />
                    }
                    else
                    {
                        <input class="selTournaments @classAcceptedTournament" type="checkbox" name="selectedTournaments" value="@tournamentIdAndNumber" />
                    }

                    <span>@viewJobsTournament.TournamentName (@viewJobsTournament.TournamentId)</span>
                    <br />

@*<input type="checkbox" name="selectedTournaments" value="@viewJobTournament.TournamentId" checked="checked" />@viewJobTournament.TournamentName<br />*@
                }
            }
        }
        <br />
        <label for="writtentournament">Turnering Id</label><br />
        <input type="text" name="writtentournament" class="form-control" /><br />
        <input type="submit" value="Submit" id="submitTournaments" class="btn btn-success" />
    </form>
</div>
<script language="javascript">
    $('#velgAlleTurneringer').click(function () {

        
        // var checked = $('.selTournaments').attr('checked');
        console.log($.fn.jquery);

        if ($(this).text() === 'Velg alle turneringer') {
            console.log("checking all tournaments!");
            $('.selTournaments').prop('checked', true);
            $(this).text("Velg bort alle turneringer");
        } else {
            console.log("Unchecking all tournaments!");
            $('.selTournaments').prop('checked', false);
            $(this).text("Velg alle turneringer");
        }

        // $('.selTournaments').not(this).prop('checked', this.checked);
        // $(this).data('checked', !checked);
        //$('input:checkbox').not(this).prop('checked', this.checked);
        
        return false;
    });

    

</script>