﻿@model IEnumerable<NTB.SportsData.Domain.Classes.Customer>
@{
    ViewBag.Title = "Liste over kunder";
}
<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Opprett ny kunde", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>Navn</th>
        <th>E-Post</th>
        <th>TT-kunde</th>
        <th colspan="4" style="text-align: right;">
            @Html.ActionLink("Send alle resultater", "SendAllResults")
        </th>
    </tr>
    @{
        foreach (var item in Model)
        {
            string style;
            {
                style = "activeRow";
                if (item.Active == 0)
                {
                    style = "inactiveRow";
                }
            }

        <tr class="@style">
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.CustomerId })
            </td>
            <td>
                <a href="mailto:@item.Email">@item.Email</a>
            </td>
            <td style="text-align: center;">
                @{
            if (item.TtCustomerId != 0)
            {
                <img src="/Content/images/tt.png" alt="TT Logo" /><br/>
                    <span>@item.TtCustomerId</span>
            }
            else
            {
                Html.DisplayText("&nbsp;");
            }

                }
            </td>
            <td>
                @Html.ActionLink("Endre", "Edit", new { id = item.CustomerId }) |
                @{
            if (item.Active == 1)
            {
                @Html.ActionLink("Deaktivere", "Delete", new {id = item.CustomerId})
            }
            else if (item.Active == 0)
            {
                @Html.ActionLink("Aktivere", "Activate", new { id = item.CustomerId })
                
            }

}
            </td>
            <td>
                @Html.ActionLink("Vis jobber", "ShowJobs", new { id = item.CustomerId })
            </td>
            
            <td>
                @Html.ActionLink("Send resultater", "SendResults", new { id = item.CustomerId })
            </td>
        </tr>
        }

    }
</table>
