﻿@model List<NTB.SportsData.Domain.Classes.Job>
@{

    // Filter out the active ones first
    var activeJobs = Model.FindAll(m => m.Status == 1);
    var passiveJobs = Model.FindAll(m => m.Status == 0);
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $(function() {
                $("#startDate").datepicker({
                    beforeShow: function (input, inst) {
                        inst.dpDiv.css({ marginTop: -input.offsetHeight + 'px', marginLeft: input.offsetWidth + 'px' });
                    },
                    showOn: "button",
                    buttonImage: "/Content/images/calendar.gif",
                    buttonImageOnly: true,
                    dateFormat: "dd/mm/yy"
                });
            });


            $(function() {
                $("#endDate").datepicker({
                    beforeShow: function (input, inst) {
                        inst.dpDiv.css({ marginTop: -input.offsetHeight + 'px', marginLeft: input.offsetWidth + 'px' });
                    },
                    showOn: "button",
                    buttonImage: "/Content/images/calendar.gif",
                    buttonImageOnly: true,
                    dateFormat: "dd/mm/yy"
                });
            });

            $("#updateTournaments").submit(function() {

                $('#loadingDiv')
                    .hide() // hide it initially
                    .ajaxStart(function() {
                        $(this).show();
                    })
                    .ajaxStop(function() {
                        $(this).hide();
                    });

                var selectedItems = new Array();

                $("#sesong :selected").each(function() {
                    selectedItems.push($(this).val());
                    // returnArea = $(this).attr("class");
                    // returnArea = $("#tournaments").val();
                });

                $.ajax({
                    type: "POST",
                    url: "/AdminTools/UpdateTournaments",
                    data: {
                        sesonger: selectedItems.join(",")
                    },
                    dataType: "text",
                    cache: false,
                    success: function(request) {
                        // don't do much
                    },
                    error: function(xhr, ajaxOptions, error) {
                        // alert('Error receiving tournaments from selected municipalities.');
                        alert(xhr.status);
                        alert(error);
                        // $("#" + xhr.status).html(request.valueOf().toString() + "\r\n" + error);
                    }
                });
                return false;
            });

            $("#sports").bind('change', function(event) {

                var sports = $(this).val();
                $("#calendar").load('/Calendar/GetSportById/',
                    {
                        'SportId': sports
                    },
                    function(data, status, response) {
                        $(this).html(data);
                    }
                );
            });


            $("#submitTournaments").click(function() {
                alert("jahaHm!");


                return false;
            });
            // $("a.hideKommune").click(function () {
            $('.formlist').hide();


            $(".changelink").live("click", function() {
                var changeId = $(this).attr("id");
                var newId = changeId.replace("changejob", "");

                var formRowId = $("#FormRowId" + newId).show('slow');
                // alert($(this).attr('id'));
                return false;
            });
            // alert($(this).attr('id'));
            return false;
        });
    </script>
    }