﻿@model List<CustomerJob>
@using NTB.SportsData.Domain.Classes

@{
    foreach (CustomerJob job in Model)
    {
        string editLinkId = "changejob" + job.JobId.ToString();
        string deleteLinkId = "deletejob" + job.JobId.ToString();
        string rowId = job.JobId.ToString();
        string formRowId = "FormRowId" + job.JobId.ToString();
        string formId = "jobinsert" + job.JobId.ToString();
        string formNameId = "JobNavn" + job.JobId.ToString();
        string formSubmitId = "AddJob" + job.JobId.ToString();

        <tr class="jobsList" id="@rowId">
            <td>
                <a href = "?CustomerAction=DefineJob&JobId=@job.JobId&CustomerId=@job.CustomerId" id="@editLinkId" class="definelink">
                    @job.JobName
                </a>
            </td>
            <td>
                @{
                    if (job.Schedule == 1)
                    {
                        <span>Terminliste</span>
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                }
            </td>
            <td>
                <a href="?CustomerAction=change&JobId=@job.JobId&CustomerId=@job.CustomerId" id="@editLinkId" class="changelink">Endre</a>
            </td> 
            <td>
                <a href="?CustomerAction=delete&JobId=@job.JobId&CustomerId=@job.CustomerId" id="@deleteLinkId" class="deletelink">Slett</a>
            </td>
        </tr>
        <tr class="formlist" id="@formRowId">
            <td>
                <form method = "post" id="@formId" action="#">
                    <table>
                        <tr>
                            <td>
                                <input type="text" name="JobbNavn" id="@formNameId" value="@job.JobName" />
                                <input type="hidden" name="CustomerId" value="@ViewBag.CustomerId" />
                                <input type="hidden" name="JobId" value="@job.JobId" />
                            </td>
                            <td>
                                    <span>Terminliste &nbsp;</span>
                                    @{
                                        if (job.Schedule == 1)
                                        {
                                            <input type="checkbox" name="schedule" checked="checked"/>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="schedule"/>
                                        }
                                    }
                            
                                </td>
                            <td>&nbsp;</td>
                            <td><input type="submit" value="Endre" id="@formSubmitId" /></td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    }

}