﻿@model List<CustomerJob>

@using NTB.SportsData.Domain.Classes



<fieldset>
    <legend id ="joblegend">
        @{
            foreach (CustomerJob cj in Model)
            {
                @cj.JobName
            }
        }
    
    </legend>
    <form method="post" action="#">
        <!-- Placeholder for list of Municipalites -->
        <div id="loadingDiv"><img src="/Content/images/ajax-loader.gif" /></div>
        <div id="Municipalities">
        </div>
    </form>
</fieldset>
<script language="javascript" type="text/javascript">
    $(document).ready(function() {

        $('#loadingDiv')
            .hide()  // hide it initially
            .ajaxStart(function() {
                $(this).show();
            })
            .ajaxStop(function() {
                $(this).hide();
            });

        $("#Sports").bind('change', function(event) {
            var selectedItem = $(this).val();
            var split = selectedItem.split("|");
            var sport = split[0];
            var federation = split[1];
            
            if (!window.console)
                console = { log: function() {
                    }
                };

            $("#divAgeCategoryDefinitions").load('/Customer/GetAgeCategoryDefinitions',
                {
                    @{
                        var customerId = Session["CustomerId"];
                    }
                    sportId: sport,
                    customerId: @customerId,
                    JobId: @ViewBag.JobId,
                    federationId: federation
                },
                function(data, status, response) {
                    $(this).html(data);

                    if (status == "success") {

                        if (@ViewBag.AgeCategoryId > 0) {

                            var ageCategoryId = @ViewBag.AgeCategoryId;

                            $("#selAgeCategories").val(ageCategoryId).trigger('change');
                        }
                    }
                }
            );
        });
    });
</script>