﻿@{
    ViewBag.Title = "SendAllResults";
}

<h2>Oppdater Resultater</h2>

<form action="/Customer/SendAllResults" method="POST" name="sendAllResults" id="sendAllResults">
    <table>
        <tr>
            <td>Start dato</td>
            <td>Slutt dato</td>
        </tr>

        <tr>
            <td><input name="startDate" id="startDate" class="form-control"/></td>
            <td><input name="endDate" id="endDate" class="form-control"/></td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: right;">
                <input type="submit" value="Send" class="btn btn-success"/>
            </td>
        </tr>
    </table>
</form>

@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function() {
            $(function() {
                $("#startDate").datepicker({
                    beforeShow: function(input, inst) {
                        inst.dpDiv.css({ marginTop: input.offsetTop + 'px', marginLeft: input.offsetWidth + 'px' });
                    },
                    showOn: "button",
                    buttonImage: "/Content/images/calendar.gif",
                    buttonImageOnly: true,
                    dateFormat: "dd/mm/yy"
                });
            });


            $(function() {
                $("#endDate").datepicker({
                    beforeShow: function(input, inst) {
                        inst.dpDiv.css({ marginTop: input.offsetTop + 'px', marginLeft: input.offsetWidth + 'px' });
                    },
                    showOn: "button",
                    buttonImage: "/Content/images/calendar.gif",
                    buttonImageOnly: true,
                    dateFormat: "dd/mm/yy"
                });
            });
        });
    </script>
}