﻿@using NTB.SportsData.Domain.Classes
@model List<Job>
@{
    ViewBag.Title = "Send resultater til kunden";

    var groups = Model.GroupBy(jobNames => jobNames.JobName);
}

<fieldset class="col-md-8 col-md-offset-2">
    <legend>@ViewBag.Title</legend>
    <form action="/Admin/Customer/SendResult/@ViewBag.CustomerId" method="POST" name="sendResults" id="sendResults">
        <input type="hidden" name="ttcustomerid" value="@ViewBag.CustomerForeignId" />
        
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>Start dato</label>
                    <input name="startDate" id="startDate" class="form-control" />
                </div>
            </div>
            
            <div class="col-md-2">
                <div class="form-group">
                    <label>Slutt dato</label>
                    <input name="endDate" id="endDate" class="form-control" />
                </div>
            </div>
            
            <div class="col-md-2">
                <input type="submit" value="Send resultater til kunden" class="btn btn-success" />
            </div>
        </div>
        
        <div class="row">
            @foreach (var group in groups)
            {
                <h2>@group.Key</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Turneringsnavn</th>
                            <th>TurneringsId</th>
                            <th><a href="#" class="velgAlleTurneringer" rel="@group.Key.Replace(" ", "")">Velg alle turneringer</a></th>
                        </tr>
                    </thead>
                    <tbody>

                        @* ReSharper disable AccessToForEachVariableInClosure *@
                        @foreach (Job filteredJob in Model.Where(fj => fj.JobName == group.Key).OrderBy(fj => fj.MinAge))
                        {
                            var tournamentId = filteredJob.TournamentId;
                            <tr>
                                <td>
                                    <input type="checkbox" name="tournament[]" value="@tournamentId" checked="checked" class="@group.Key.Replace(" ", "")"/>
                                    <input type="hidden" name="sport[]" value="@filteredJob.SportId"/>
                                </td>
                                <td>@filteredJob.TournamentName</td>
                                <td>@filteredJob.TournamentId</td>
                                <td>&nbsp;</td>
                            </tr>
                        }
                        @* ReSharper restore AccessToForEachVariableInClosure *@
                    </tbody>
                </table>
                <br />
            }
        </div>
        <input type="submit" value="Send resultater" class="btn btn-success" />
    </form>
</fieldset>
<div class="clear"></div>


@section scripts {
    <script language="javascript">
        $('.velgAlleTurneringer').click(function() {
            var selectClass = this.rel;

            var checked = $("." + selectClass).attr('checked');
            $("." + selectClass).attr('checked', !checked);

            return false;
        });

        // Some jquery stuff
        $(document).ready(function () {
            $(function () {
                $("#startDate").datepicker({
                    beforeShow: function (input, inst) {
                        inst.dpDiv.css({ marginTop: input.offsetTop + 'px', marginLeft: input.offsetWidth + 'px' });
                    },
                    showOn: "button",
                    buttonImage: "/Content/images/calendar.gif",
                    buttonImageOnly: true,
                    dateFormat: "dd/mm/yy"
                });
            });


            $(function () {
                $("#endDate").datepicker({
                    beforeShow: function (input, inst) {
                        inst.dpDiv.css({ marginTop: input.offsetTop + 'px', marginLeft: input.offsetWidth + 'px' });
                    },
                    showOn: "button",
                    buttonImage: "/Content/images/calendar.gif",
                    buttonImageOnly: true,
                    dateFormat: "dd/mm/yy"
                });
            });
        });
    </script>
}