﻿@using NTB.SportsData.Domain.Classes
@model List<Job>
@{
    ViewBag.Title = "ShowJobs";

    var groups = Model.GroupBy(jobNames => jobNames.JobName);
}

<h2>Jobber for @ViewBag.CustomerName</h2>
<br/>
<a href="/Customer/ShowTeams/@ViewBag.CustomerId">List opp lag i turneringer</a>

<br/>

@foreach (var group in groups)
{
    <h2>@group.Key</h2>
    <table>
        <thead>
            <tr>
                <th>Turneringsnavn</th>
                <th>TurneringsId</th>
            </tr>
        </thead>
        <tbody>
                    
@* ReSharper disable AccessToForEachVariableInClosure *@
            @foreach (Job filteredJob in Model.Where(fj => fj.JobName == group.Key).OrderBy(fj => fj.MinAge))
            {
                <tr>
                    <td><a href="http://www.fotball.no/System-pages/TabellTermin/?tournamentId=@filteredJob.TournamentId" target="_new">@filteredJob.TournamentName</a></td>
                    <td>@filteredJob.TournamentId</td>
                    <td>
                        @{
                            if (filteredJob.Push == 1)
                            {
                                <span>Push</span>
                            }
                            else
                            {
                                <span>&nbsp;</span>
                            }
                        }
                    </td>
                </tr>
            }
@* ReSharper restore AccessToForEachVariableInClosure *@        
        </tbody>
    </table>
}