﻿

<div class="container">

    <div class="block col-md-7 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1> Kontakt oss</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h4><i class="glyphicon glyphicon-earphone"></i>&nbsp;Kundesenter <strong><a href="tel:22 00 32 00">22 00 32 00</a></strong> </h4>
                        <p style="text-align: left;">
                            <strong><a href="mailto:kundesenter@ntb.no">kundesenter@ntb.no</a></strong>
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <h4 class="blueFont"><i class="glyphicon glyphicon-earphone"></i>&nbsp;Vaktsjef <strong><a href="tel:22 03 45 45">22 03 45 45</a></strong></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">

                        <div class="col-md-12">
                            <table>
                                <tr>
                                    <td class="col-md-2" rowspan="2" style="vertical-align: top">
                                        <strong>Åpningstider:</strong>
                                    </td>
                                    <td class="col-md-8">8.30 – 16.30 (man– tor)</td>
                                </tr>
                                <tr>
                                    <td class="col-md-8">8.30 – 16.00 (fredag)</td>
                                </tr>
                                <tr>
                                    <td class="col-md-2">
                                        <strong>Vaktsjef:</strong>
                                    </td>
                                    <td class="col-md-8">hele døgnet</td>
                                </tr>

                                <tr>
                                    <td class="col-md-2" rowspan="2" style="vertical-align: top">
                                        <strong>Fotodesk:</strong>
                                    </td>
                                    <td class="col-md-8">7.15 – 23.00 (man– fre)</td>
                                </tr>
                                <tr>
                                    <td class="col-md-8">13.00 – 23.00 (lør – søn)</td>
                                </tr>
                            </table>
                        </div>


                    </div>

                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="block col-md-3 col-sm-3 col-xs-6">
                            <h6 class="b">Salg</h6>
                            <span><a style="color: #2d2d2d;" href="tel:22 00 32 00">22 00 32 00</a></span>
                            <span><a class="blueFont boldFont styledLink" href="mailto:salg@ntb.no">salg@ntb.no</a></span>
                        </div>
                        <div class="block col-md-3 col-sm-3 col-xs-6">
                            <h6 class="b">Marked</h6>

                            <span><a style="color: #2d2d2d;" href="tel:22 00 32 59">22 00 32 59</a></span>
                            <span><a class="blueFont boldFont styledLink" href="mailto:marked@ntb.no">marked@ntb.no</a></span>
                        </div>
                        <div class="block col-md-3 col-sm-3 col-xs-6">

                            <h6 class="b">Vaktsjef</h6>

                            <span><a style="color: #2d2d2d;" href="tel:22 03 45 45">22 03 45 45</a></span>
                            <span><a class="blueFont boldFont styledLink" href="mailto:vaktsjef@ntb.no">vaktsjef@ntb.no</a></span>

                        </div>
                        <div class="block col-md-3 col-sm-3 col-xs-6">

                            <h6 class="b">Utenriks </h6>

                            <span><a style="color: #2d2d2d;" href="tel:22 03 45 50">22 03 45 50</a></span>
                            <span><a class="blueFont boldFont styledLink" href="mailto:utenriks@ntb.no">utenriks@ntb.no</a></span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="block col-md-3 col-sm-3 col-xs-6">

                            <h6 class="b">Sport</h6>

                            <span><a style="color: #2d2d2d;" href="tel:22 03 45 55">22 03 45 55</a></span>
                            <span><a class="blueFont boldFont styledLink" href="mailto:sporten@ntb.no">sporten@ntb.no</a></span>

                        </div>
                        <div class="block col-md-3 col-sm-3 col-xs-6">

                            <h6 class="b">Kultur</h6>

                            <span><a style="color: #2d2d2d;" href="tel:22 03 44 22">22 03 44 22</a></span>
                            <span><a class="blueFont boldFont styledLink" href="mailto:kultur@ntb.no">kultur@ntb.no</a></span>

                        </div>
                        <div class="block col-md-3 col-sm-3 col-xs-6">
                            <h6 class="b">Fotodesk</h6>

                            <span><a style="color: #2d2d2d;" href="tel:22 00 32 64">22 00 32 64</a></span>
                            <span><a class="blueFont boldFont styledLink" href="mailto:ntb.fotodesk@ntb.no">ntb.fotodesk@ntb.no</a></span>


                        </div>
                        <div class="block col-md-3 col-sm-4 col-xs-12">
                            <h6 class="b">Personalia</h6>

                            <span><a style="color: #2d2d2d;" href="tel:22 03 44 18">22 03 44 18</a></span>
                            <span><a class="blueFont boldFont styledLink" href="mailto:personalia@ntb.no">personalia@ntb.no</a></span>

                        </div>
                    </div>
                </div>

                <hr />
                <div class="row">
                        <div class="block col-md-3 col-sm-3 col-xs-6">
                            <h5>Korrespondentkontorer</h5>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">

                            <span class="b">Stavanger</span>
                            <span><a style="color: #2d2d2d;" href="tel:959 97 624">959 97 624</a></span>

                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-4">

                            <span class="b">Troms&#248;</span>
                            <span><a style="color: #2d2d2d;" href="tel:77 68 71 00">77 68 71 00</a></span>

                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-4">

                            <span class="b">Brussel</span>
                            <span><a style="color: #2d2d2d;" href="tel:00 322 230 5285">00 322 230 5285</a></span>

                        </div>
                    </div>
                            
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12 col-sm-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2000.479655577124!2d10.746097049480518!3d59.90758655760201!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf1ada0b6414a331!2sNorsk+Telegrambyr%C3%A5!5e0!3m2!1sno!2s!4v1399533911606" width="349" height="250" style="border: 1px solid gray;"></iframe>
                </div>
                <div class="mapContent col-md-12 col-sm-6">
                    <div class="col-md-6">
                        <h6 class="b">Besøksadresse</h6>
                        <p>
                            Langkaia
                            (Havnelageret)
                            N-0150 Oslo
                        </p>
                    </div>
                    <div class=" col-md-6">
                        <h6 class="b">Postadresse</h6>
                        <p>
                            Boks 6817
                            St. Olavs plass,
                            N-0130 Oslo
                        </p>
                    </div>
                    <div class="clearfix"></div>

                    <div class="">
                        <hr class="grey5Font" />
                        <p>
                            <b>Organisasjonsnummer:</b> 914 797 497
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
        <div class="block mapblock col-md-4 col-sm-6 col-xs-12 onethird">

            <div class="dropShadow">

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>  