﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/Content/favicon.ico">

    <title>NTB Sportsdata</title>

    <!-- Bootstrap core CSS -->
    <link href="/Content/css/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    <link href="/Content/css/bootstrap-carousel.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>
    <div class="navbar-wrapper">
        <div class="container">

            <!-- <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Project name</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav> -->

        </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/Content/images/tab098da-1.jpg" />
                @*<img class="first-slide" src="Content/images/sy79d102-1.jpg" alt="First slide">*@
                <div class="container">
                    <div class="carousel-caption">
                        <h1>NTB sportsdata</h1>
                        <p>Store datamengder – sortert og tilrettelagt for publisering</p>
                        <p><a class="btn btn-lg btn-primary" href="#link1" role="button">Les mer</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                @*<img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">*@
                <img src="/Content/images/tab3989e-1.jpg" />

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Tilrettelagt</h1>
                        <p>Hvorfor gjøre jobben selv når vi kan levere fiks ferdige produkter for ditt dekningsområde?</p>
                        <p><a class="btn btn-lg btn-primary" href="#link2" role="button">Les mer</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                @*<img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">*@
                <img class="third-slide" src="/Content/images/syd15fc6-1.jpg"/>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Enkelt</h1>
                        <p>Vi leverer resultatfiler som er ferdig formatert og klare for publisering.
</p>
                        <p><a class="btn btn-lg btn-primary" href="#link3" role="button">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <!-- <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="/Content/images/syd15fc6-1.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-/- /.col-lg-4 -/->
            <div class="col-lg-4">
                <img class="img-circle" src="/Content/images/syd15fc6-1.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Heading</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-/- /.col-lg-4 -/->
            <div class="col-lg-4">
                <img class="img-circle" src="/Content/images/syd15fc6-1.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-/- /.col-lg-4 -/->
        </div><!-/- /.row -/->

            -->
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette" id="link1">
            <div class="col-md-7 valign-top">
                <h2 class="featurette-heading">NTB sportsdata</h2>
                <p class="lead ">Vi har tilgang til alle resultater, både nasjonalt og lokalt, for alle de store lagidrettene i Norge. Resultater og tabeller for både seniorklasser og aldersbestemte klasser i fotball, håndball, hockey, bandy og innebandy er tilgjengelig gjennom våre løsninger. I tillegg leverer vi resultater fra Norway Cup, Birkebeinerarrangementene og en rekke andre nasjonale arrangementer.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="/Content/images/tab098da-500x500.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette" id="link2">
            <div class="col-md-7 col-md-push-5 valign-top">
                <h2 class="featurette-heading">Tilrettelagt</h2>
                <p class="lead">
                    NTB sportsdata leverer resultat- og tabellinformasjon fiks ferdig for ditt dekningsområde. Dere bestemmer selv hvilke idretter og hvilke områder dere ønsker å dekke. Vi tar jobben med å hente inn og sortere resultatene.
                </p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="/Content/images/tab3989e-500x500.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette" id="link3">
            <div class="col-md-7 valign-top">
                <h2 class="featurette-heading">Enkelt</h2>
                <p class="lead">
                    Våre resultatfiler leveres ferdig formatert for deres produksjonssystem. Dere bestemmer selv når dere ønsker å laste ned filene og hvor dere vil publisere dem. Avis eller nett – vi leverer.
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="/Content/images/syd15fc6-500x500.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
        <!-- FOOTER -->
        

    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="Content/js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="Content/js/jquery.min.js"><\/script>')</script>
    <script src="Content/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="Content/js//holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="Content/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
