﻿@{
    ViewBag.Title = "Om";
}
<h2>@ViewBag.Title NTB SportsData</h2>


<p>NTB SportsData er et eget forretningsområde for Norsk Telegrambyrå. Vi distribuerer sportsresultater fra norske idretter.</p>
