﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title NTB SportsData</h2>

<address>
    <p>
        <strong>Besøksadresse</strong><br/>
        Langkaia 1 (Havnelageret)<br />
        N-0150 Oslo
    </p>
    <p>
        <strong>Postadresse</strong><br/>
        Boks 6817 St. Olavs Plass<br />
        N-0130 Oslo
    </p>
    <abbr title="Phone">T:</abbr>
    +47 22 23 45 45
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@sportsdata.no">support@sportsdata.no</a><br />
    <strong>Salg:</strong> <a href="mailto:marked@ntb.no">marked@ntb.no</a>
</address>