﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NTB SportsData Input</h1>
    <p class="lead">NTB SportsData Input er et verktøy for å legge inn sportsresultater i norske lagidretter</p>
</div>