﻿<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            @*<h1 class="text-center login-title"></h1>*@
            <div class="account-wall">
                <img class="profile-img" src="~/Content/images/ntb_logo.png"
                     alt="">
                <form class="form-signin">
                    <input type="text" class="form-control" placeholder="Brukernavn" required autofocus>
                    <input type="password" class="form-control" placeholder="Passord" required>
                    <button class="btn btn-lg btn-success btn-block" type="Login">
                        Logg inn
                    </button>
                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>
                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
            
        </div>
    </div>
</div>