﻿@model List<Calendar>

<table>
    <tr>
        @{
            foreach (Calendar calendar in Model)
            {
                <tr>
                    <td>@calendar.Name</td>
                    <td>@calendar.StartDateTime</td>
                </tr>
            }

        }
    </tr>
</table>