﻿@model List<NTB.SportsDataAdmin.Domain.Classes.Sport>
           

@{
    ViewBag.Title = "Kalender";
}
<h2>Kalender</h2>
<form method="POST" action="/Calendar/GetEvents">
    <select name="sports" id="sports">
        <option value="-1">Velg idrett</option>
        @{
            foreach (Sport sport in Model)
            {
                <option value="@sport.Id">@sport.Name</option>
            }
        }
    </select>
    <input type="submit" value="Hent"/>
</form>