﻿@using System
@using System.Linq
@using Microsoft.Ajax.Utilities
@using NTB.SportsData.Domain.Classes
@using NTB.SportsData.Web.Areas.Input.Models
@model InputViewModel
@{
    ViewBag.Title = "Kampregistrering";

    var filteredMatches = Model.UserMatches.AsEnumerable();
    var filter = Request.QueryString["filter"];
    var kretser = 0;
    if (Request.QueryString["kretser"] != string.Empty)
    {
        kretser = Convert.ToInt32(Request.QueryString["kretser"]);
    }
    if (filter == "yes")
    {
        if (kretser > 0)
        {
            filteredMatches = Model.UserMatches.Where(x => x.HomeTeamGoal != null && x.DistrictId == kretser);
        }
        else
        {
            filteredMatches = Model.UserMatches.Where(x => x.HomeTeamGoal != null);
        }
    }
    else if (filter == "no")
    {
        if (kretser > 0)
        {
            filteredMatches = Model.UserMatches.Where(x => x.HomeTeamGoal == null && x.DistrictId == kretser);
        }
        else
        {
            filteredMatches = Model.UserMatches.Where(x => x.HomeTeamGoal == null);
        }
    }
    else if (filter == "unreg")
    {
        if (kretser > 0)
        {
            filteredMatches = Model.UserMatches.Where(x => x.RegisterAble == false && x.DistrictId == kretser);
        }
        else
        {
            filteredMatches = Model.UserMatches.Where(x => x.RegisterAble == false);
        }
    }

    if (string.IsNullOrEmpty(filter) && kretser > 0)
    {
        filteredMatches = Model.UserMatches.Where(x => x.DistrictId == kretser);
    }
    filteredMatches = filteredMatches.OrderBy(y => y.MatchStartTime).Where(x => x.RegisterAble == true);

    var filteredNonRegisterable = Model.UserMatches.OrderBy(x => x.MatchStartTime).Where(x => x.RegisterAble == false);
}
<p></p>


<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body bg-info">
                <div class="col-xs-3 col-md-3 text-center info">
                    <img src="~/Content/glyphicons/png/glyphicons-330-soccer-ball.png" alt="soccer ball icon" />
                </div>
                <div class="col-xs-9 col-md-9 section-box">
                    Antall kamper igjen <span id="matchesleft"></span>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body bg-success">
                <div class="col-xs-3 col-md-3 text-center info">
                    <img src="~/Content/glyphicons/png/glyphicons-4-user.png" alt="user icon" />
                </div>
                <div class="col-xs-9 col-md-9 section-box">
                    Antall brukere pålogget <span id="loggedinusers"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body bg-success">
                <div class="col-xs-3 col-md-3 text-center info">
                    <img src="~/Content/glyphicons/png/glyphicons-330-soccer-ball.png" alt="soccer icon" />
                </div>
                <div class="col-xs-9 col-md-9 section-box">
                    <a href="/Input/MatchRegister/UnregisteredMatches">Antall kamper uregistrert <span id="panel_unregisterable"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-match-register">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Kampregistrering</a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar-match-register">
            <div class="row">
                <form class="navbar-form" method="GET">
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="form-control" name="filter" id="filter">
                                <option value="">Resultat registrert</option>

                                @{
                                    if (Request.QueryString["filter"] == "no" || Request.QueryString["filter"] == string.Empty)
                                    {
                                        <option selected="selected" value="no">Nei</option>
                                    }
                                    else
                                    {
                                        <option value="no">Nei</option>
                                    }

                                    if (Request.QueryString["filter"] == "yes")
                                    {
                                        <option selected="selected" value="yes">Ja</option>
                                    }
                                    else
                                    {
                                        <option value="yes">Ja</option>
                                    }

                                    if (Request.QueryString["filter"] == "unreg")
                                    {
                                        <option selected="selected" value="unreg">Uregistrerbare</option>
                                    }
                                    else
                                    {
                                        <option value="unreg">Uregistrerbare</option>
                                    }

                                    if (Request.QueryString["filter"] == "all")
                                    {
                                        <option selected="selected" value="all">Alle</option>
                                    }
                                    else
                                    {
                                        <option value="all">Alle</option>
                                    }
                                }

                            </select>
                        </div>
                    </div>
                </form>



                <form class="navbar-form" method="GET">
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="form-control" name="kretser" id="kretser">
                                <option value="">Kretser</option>
                                @{
                                    foreach (var district in Model.UserDistricts)
                                    {
                                        var kretsFilter = 0;
                                        if (Request.QueryString["kretser"] != string.Empty)
                                        {
                                            kretsFilter = Convert.ToInt32(Request.QueryString["kretser"]);
                                        }
                                        if (kretsFilter == district.DistrictId)
                                        {
                                            <option selected="selected" value="@district.DistrictId">@district.DistrictName</option>
                                        }
                                        else
                                        {
                                            <option value="@district.DistrictId">@district.DistrictName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</nav>

<div class="container">
    <div class="col-md-12 hidden-sm hidden-xs">
        <div class="row">
            <div class="col-md-1">
                <strong>&nbsp;</strong>
            </div>
            <div class="col-md-2 text-left">
                <strong>Kampdato og tid</strong>
            </div>
            <div class="col-md-2  text-left">
                <strong>Turnering</strong>
            </div>
            <div class="col-md-2  text-left">
                <strong>Hjemmelag</strong>
                -
                <strong>Bortelag</strong>
            </div>
            <div class="col-md-2 text-center">
                <strong>Mål H</strong>
            </div>
            <div class="col-md-2 text-center">
                <strong>Mål B</strong>
            </div>
            <div class="col-md-1">
                <strong>&nbsp;</strong>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        @{
            if (Model != null)
            {
                foreach (Match match in filteredMatches)
                {
                    var matchCommentFormId = "formcomment" + match.MatchId;
                    var linkMatch = "match" + match.MatchId;
                    var linkInfoMatch = "linkmatch" + match.MatchId;
                    var linkMatchMoreInfo = "matchinfo" + match.MatchId;
                    var textareaName = "txtBox" + match.MatchId;
                    var infocolumn = "infocol" + match.MatchId;
                    var buttonId = "btn" + match.MatchId;
                    var matchformid = "matchform" + match.MatchId;
                    var matchRow = "row" + match.MatchId;
                    var homeTeamGoalId = "hometeam" + match.MatchId;
                    var awayTeamGoalId = "awayteam" + match.MatchId;
                    var hiddenMatchId = "match" + match.MatchId;
                    var hiddenMatchNumber = "matchnumber_" + match.MatchId;
                    var hiddenSportId = "sportid_" + match.MatchId;
                    var checkboxId = "checkbox_" + match.MatchId;

                    // match.MatchComment = match.MatchId.ToString();
                    string timeString = "0";
                    if (match.MatchStartTime.ToString().Length >= 4)
                    {
                        timeString = match.MatchStartTime.ToString().Substring(0, 2) + ":" + @match.MatchStartTime.ToString().Substring(2, 2);
                    }
                    <div class="row" id="@matchRow">
                        <form method="POST" action="#" class="matchinsertform form" id="@matchformid">
                            <input type="hidden" name="matchId" value="@match.MatchId" id="@hiddenMatchId" />
                            <input type="hidden" name="sportId" value="@match.SportId" id="@hiddenSportId" />
                            <input type="hidden" name="sportName" value="@match.SportName" />
                            <input type="hidden" name="matchNumber" value="@match.MatchNumber" id="@hiddenMatchNumber" />
                            <div class="col-md-1" id="@infocolumn">
                                <a href="#@linkMatchMoreInfo" id="@linkMatch" data-target="#@linkMatchMoreInfo" data-toggle="collapse" data-parent="#matchtable">

                                    @{
                    if (match.MatchComment == string.Empty)
                    {
                        <img src="~/Content/images/24x24/info.png" alt="Informasjon" style="border: 0;" title="@match.MatchId" />
                    }
                    if (match.MatchComment != string.Empty)
                    {
                        <img src="/Content/images/24x24/comment.png" alt="@match.MatchComment" title="Kommentar for kamp @match.MatchId - @match.MatchComment" style="border: 0;" />
                    }
                                    }
                                </a>
                                &nbsp;<input type="checkbox" class="checkbox-inline resultunreg" id="@checkboxId" name="unreachable" title="Kryss av dersom du ikke får tak i noen for å registrere resultat" />
                            </div>
                            <div class="col-md-2">@match.MatchDate.ToShortDateString() @timeString</div>
                            <div class="col-md-2">
                                @match.TournamentName <br />
                                <span class="hidden-md">(@match.DistrictName, @match.SportName)</span>
                            </div>
                            <div class="col-md-2">@match.HomeTeam - @match.AwayTeam</div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @{
                    if (match.HomeTeamGoal == null)
                    {
                        <input type="text" name="hometeamgoal" id="@homeTeamGoalId" maxlength="3" class="text-center form-control match-result" />
                    }
                    else
                    {
                        <input type="text" name="hometeamgoal" id="@homeTeamGoalId" value="@match.HomeTeamGoal" maxlength="3" class="text-center form-control match-result" />
                    }
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @{
                    if (match.AwayTeamGoal == null)
                    {
                        <input type="text" name="awayteamgoal" id="@awayTeamGoalId" maxlength="3" class="text-center form-control match-result" />
                    }
                    else
                    {
                        <input type="text" name="awayteamgoal" id="@awayTeamGoalId" value="@match.AwayTeamGoal" maxlength="3" class="text-center form-control match-result" />
                    }
                                    }
                                </div>
                            </div>
                            <div class="col-md-1">
                                <input type="submit" class="btn btn-success" value="Lagre" />
                            </div>
                        </form>
                    </div>
                    <div id="@linkMatchMoreInfo" class="collapse out">

                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3>Kontaktopplysninger</h3>
                                    <form method="POST" action="#" class="yesterday" id="formtest_2_{@match.MatchId}" name="formtest_2_{@match.MatchId}">
                                        <input class="btn btn-default" type="submit" value="Lagre" />
                                    </form>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-2">
                                        <form method="POST" action="~/Input/MatchRegister/AddComment/@match.MatchId" id="@matchCommentFormId" class="commentform">
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label class="textarea">Kommentar</label><br />
                                                    <textarea class="form-control" name="@textareaName" rows="5">@match.MatchComment</textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input class="btn btn-default" type="submit" id="@buttonId" value="Lagre" />
                                                </div>
                                            </div>
                                        </form>

                                    </div>

                                    <div class="col-md-5">
                                        <h3 id="@match.HomeTeamId">@match.HomeTeam</h3>

                                        @{
                    const string iconheight = "24x24";

                    foreach (ContactPerson contact in match.HomeTeamContactPersons)
                    {
                        var navnid = "navn" + contact.PersonId;
                        var rolleid = "rolle" + contact.PersonId;
                        var mobil = "mobil" + contact.PersonId;
                        var work = "work" + contact.PersonId;
                        var home = "home" + contact.PersonId;

                        var editbox = "p" + contact.PersonId + "r" + contact.RoleId;
                        var deletebox = "d" + contact.PersonId + "r" + contact.RoleId;
                        var smsbox = "s" + contact.PersonId + "r" + contact.RoleId;
                        var smstextarea = "sms" + contact.PersonId + "r" + contact.RoleId;
                        var smsformid = "smsform" + contact.PersonId + "r" + contact.RoleId;
                        var editcontactid = "editcontact" + contact.PersonId + "r" + contact.RoleId;
                        var searchformid = "findform" + contact.PersonId + "r" + contact.RoleId;
                        var searchpersonbox = "search" + contact.PersonId + "r" + contact.RoleId;
                        var searchresultbox = "result" + contact.PersonId + "r" + contact.RoleId;
                        var submitId = "submit" + contact.PersonId + "r" + contact.RoleId;

                        var activeClass = "";
                        if (contact.Active == 0)
                        {
                            activeClass = "bg-danger";
                        }
                        <div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body @activeClass">
                                            <div class="col-md-6">
                                                <strong>@contact.FirstName @contact.LastName</strong><br />
                                                <span class="title">@contact.RoleName</span>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <span class="phone">M:@contact.MobilePhone</span><br />
                                                @{
                        if (contact.OfficePhone != string.Empty)
                        {
                            <span id="spanwork{@work}">A: </span>
                                                    <strong>@contact.OfficePhone</strong><br />
                        }
                                                }
                                                @{
                        if (contact.HomePhone != string.Empty)
                        {
                            <span id="spanhome{@home}">P: </span>
                                                    <strong>@contact.HomePhone</strong><br />
                        }
                                                }
                                            </div>

                                            <div class="col-md-1 col-sm-1">
                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        @{
                        if (contact.MobilePhone == string.Empty || contact.HomePhone == string.Empty || contact.OfficePhone == string.Empty)
                        {
                            <li>
                                <a href="#" data-toggle="modal" data-target="#@searchpersonbox">
                                    <img src="http://pub.1881.no/wp-content/uploads/2012/09/logo-o-1881.png" alt="1881 logo"
                                         style="width: 10%; height: 10%;" title="Søk opp person på 1881" />
                                    Søk opp person på 1881
                                </a>
                            </li>
                        }
                                                        }
                                                        @{
                        if (contact.MobilePhone != string.Empty)
                        {
                            <li>
                                <a href="#" data-toggle="modal" data-target="#@smsbox">
                                    <img src="~/Content/images/@iconheight/mobile_phone.png" alt="Send SMS" title="Send SMS" />Send SMS
                                </a>
                            </li>
                        }
                                                        }
                                                        <li>
                                                            <a href="#" data-toggle="modal" data-target="#@editbox">
                                                                <img src="~/Content/images/@iconheight/edit.png" alt="Edit" />Edit
                                                            </a>
                                                        </li>

                                                        <li>
                                                            @{


                        if (contact.Active == 1)
                        {
                            <a href="~/Input/MatchRegister/ChangeStatus/@contact.PersonId">
                                <img src="~/Content/images/@iconheight/delete.png" alt="Activate/Deactivate" title="De-aktiver kontakt" />
                                Deaktiver kontakt
                            </a>
                        }
                        else
                        {
                            <a href="~/Input/MatchRegister/ChangeStatus/@contact.PersonId">
                                <img src="~/Content/images/@iconheight/accept.png" alt="Activate/Deactivate" title="Aktiver kontakt" />
                                Aktiver kontakt
                            </a>
                        }

                                                            }
                                                        </li>



                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                                            <br />

                                            <div class="modal fade" id="@editbox">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form method="POST" action="#" id="@editcontactid" class="editcontact">
                                                            <div class="modal-header">

                                                                Edit @contact.FirstName @contact.LastName

                                                                <button type="button" class="close" data-dismiss="modal">
                                                                    <span aria-hidden="true">&times;</span>
                                                                    <span class="sr-only">Close</span>
                                                                </button>
                                                            </div>

                                                            <div class="modal-body">


                                                                <input type="hidden" name="teamid" value="@match.HomeTeamId" />
                                                                <input type="hidden" name="contactid" value="@contact.PersonId" />

                                                                <div class="form-group">
                                                                    <label id="firstname{@rolleid}">Fornavn: </label>
                                                                    <input class="form-control" type="text" name="firstname" value="@contact.FirstName" />
                                                                </div>

                                                                <div class="form-group">
                                                                    <label id="lastname{@rolleid}">Etternavn: </label>
                                                                    <input class="form-control" type="text" name="lastname" value="@contact.LastName" />
                                                                </div>

                                                                <div class="form-group">
                                                                    <label id="labelemail{@rolleid}">E-post: </label>
                                                                    <input class="form-control" type="text" name="email" value="@contact.Email" />
                                                                </div>

                                                                <div class="form-group">
                                                                    <label id="labelmobile{@mobil}">Mobil: </label>
                                                                    <input class="form-control" type="text" name="mobilephone" value="@contact.MobilePhone" />
                                                                </div>

                                                                <div class="form-group">
                                                                    <label id="labelphone{@work}">Telefon arb.: </label>
                                                                    <input class="form-control" type="text" name="officephone" value="@contact.OfficePhone" />
                                                                </div>

                                                                <div class="form-group">
                                                                    <label id="labelphonehome{@home}">Telefon hjem: </label>
                                                                    <input class="form-control" type="text" name="homephone" value="@contact.HomePhone" />
                                                                </div>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary savechanges" id="@submitId">Save changes</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal fade" id="@smsbox">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3>
                                                                Send SMS til @contact.FirstName @contact.LastName
                                                            </h3>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="#" method="POST" id="@smsformid">
                                                                <label>Melding</label><br />
                                                                <textarea name="@smstextarea" rows="6" cols="45"></textarea>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade" id="@searchpersonbox">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3>
                                                                S&oslash;k etter kontaktperson hos 1881
                                                            </h3>
                                                        </div>

                                                        <div class="modal-body">
                                                            <form action="#" method="POST" id="@searchformid">
                                                                <label for="person">Person</label><br />
                                                                <input type="text" name="person" value="@contact.FirstName @contact.LastName" />
                                                            </form>
                                                            <div class="resultbox" id="@searchresultbox"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                    }
                                        }

                                    </div>
                                    <div class="col-md-5">
                                        <h3>@match.AwayTeam</h3>
                                        @{
                    foreach (ContactPerson contact in match.AwayTeamContactPersons)
                    {
                        var navnid = "navn" + contact.PersonId;
                        var rolleid = "rolle" + contact.PersonId;
                        var mobil = "mobil" + contact.PersonId;
                        var work = "work" + contact.PersonId;
                        var home = "home" + contact.PersonId;

                        var editbox = "p" + contact.PersonId + "r" + contact.RoleId;
                        var deletebox = "d" + contact.PersonId + "r" + contact.RoleId;
                        var smsbox = "s" + contact.PersonId + "r" + contact.RoleId;
                        var smstextarea = "sms" + contact.PersonId + "r" + contact.RoleId;
                        var smsformid = "smsform" + contact.PersonId + "r" + contact.RoleId;
                        var editcontactid = "editcontact" + contact.PersonId + "r" + contact.RoleId;
                        var searchformid = "findform" + contact.PersonId + "r" + contact.RoleId;
                        var searchpersonbox = "search" + contact.PersonId + "r" + contact.RoleId;
                        var searchresultbox = "result" + contact.PersonId + "r" + contact.RoleId;
                        var submitbutton = "submit" + contact.PersonId + "r" + contact.RoleId;

                        var activeClass = "";
                        if (contact.Active == 0)
                        {
                            activeClass = "bg-danger";
                        }
                        <div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body @activeClass">
                                            <div class="col-md-7">
                                                <strong>@contact.FirstName @contact.LastName</strong><br />
                                                <span class="title">@contact.RoleName</span>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <span class="phone">M:@contact.MobilePhone</span><br />
                                                @{
                        if (contact.OfficePhone != string.Empty)
                        {
                            <span id="spanwork{@work}">A: </span>
                                                    <strong>@contact.OfficePhone</strong><br />
                        }
                                                }
                                                @{
                        if (contact.HomePhone != string.Empty)
                        {
                            <span id="spanhome{@home}">P: </span>
                                                    <strong>@contact.HomePhone</strong><br />
                        }
                                                }
                                            </div>
                                            <div class="col-md-1 col-sm-1">
                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        @{
                        if (contact.MobilePhone == string.Empty || contact.HomePhone == string.Empty || contact.OfficePhone == string.Empty)
                        {
                            <li>
                                <a href="#" data-toggle="modal" data-target="#@searchpersonbox">
                                    <img src="http://pub.1881.no/wp-content/uploads/2012/09/logo-o-1881.png" alt="1881 logo"
                                         style="width: 10%; height: 10%;" title="Søk opp person på 1881" />
                                    Søk opp person på 1881
                                </a>
                            </li>
                        }
                                                        }
                                                        @{
                        if (contact.MobilePhone != string.Empty)
                        {
                            <li>
                                <a href="#" data-toggle="modal" data-target="#@smsbox">
                                    <img src="~/Content/images/@iconheight/mobile_phone.png" alt="Send SMS" title="Send SMS" />Send SMS
                                </a>
                            </li>
                        }
                                                        }
                                                        <li>
                                                            <a href="#" data-toggle="modal" data-target="#@editbox">
                                                                <img src="~/Content/images/@iconheight/edit.png" alt="Edit" />Edit
                                                            </a>
                                                        </li>

                                                        <li>
                                                            @{


                        if (contact.Active == 1)
                        {
                            <a href="~/Input/MatchRegister/ChangeStatus/@contact.PersonId">
                                <img src="~/Content/images/@iconheight/delete.png" alt="Activate/Deactivate" title="De-aktiver kontakt" />
                                Deaktiver kontakt
                            </a>
                        }
                        else
                        {
                            <a href="~/Input/MatchRegister/ChangeStatus/@contact.PersonId">
                                <img src="~/Content/images/@iconheight/accept.png" alt="Activate/Deactivate" title="Aktiver kontakt" />
                                Aktiver kontakt
                            </a>
                        }

                                                            }
                                                        </li>



                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                                            <br />
                                            <div class="modal fade" id="@editbox">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">

                                                        <div class="modal-header">

                                                            Edit @contact.FirstName @contact.LastName

                                                            <button type="button" class="close" data-dismiss="modal">
                                                                <span aria-hidden="true">&times;</span>
                                                                <span class="sr-only">Close</span>
                                                            </button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <form method="POST" action="#" id="@editcontactid" class="editcontact">

                                                                <input type="hidden" name="teamid" value="@match.HomeTeamId" />
                                                                <input type="hidden" name="contactid" value="@contact.PersonId" />

                                                                <div class="form-group">
                                                                    <label id="@rolleid">Fornavn: </label>
                                                                    <input class="form-control" type="text" name="firstname" value="@contact.FirstName" />
                                                                </div>

                                                                <div class="form-group">
                                                                    <label id="@rolleid">Etternavn: </label>
                                                                    <input class="form-control" type="text" name="lastname" value="@contact.LastName" />
                                                                </div>

                                                                <div class="form-group">
                                                                    <label id="@rolleid">E-post: </label>
                                                                    <input class="form-control" type="text" name="email" value="@contact.Email" />
                                                                </div>

                                                                <div class="form-group">
                                                                    <label id="@mobil">Mobil: </label>
                                                                    <input class="form-control" type="text" name="mobilephone" value="@contact.MobilePhone" />
                                                                </div>

                                                                <div class="form-group">
                                                                    <label id="@work">Telefon arb.: </label>
                                                                    <input class="form-control" type="text" name="officephone" value="@contact.OfficePhone" />
                                                                </div>

                                                                <div class="form-group">
                                                                    <label id="@home">Telefon hjem: </label>
                                                                    <input class="form-control" type="text" name="homephone" value="@contact.HomePhone" />
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-primary savechanges" id="@submitbutton">Save changes</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal fade" id="@smsbox">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3>
                                                                Send SMS til @contact.FirstName @contact.LastName
                                                            </h3>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="#" method="POST" id="@smsformid">
                                                                <label>Melding</label><br />
                                                                <textarea name="@smstextarea" rows="6" cols="45"></textarea>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade" id="@searchpersonbox">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h3>
                                                                S&oslash;k etter kontaktperson hos 1881
                                                            </h3>
                                                        </div>

                                                        <div class="modal-body">
                                                            <form action="#" method="POST" id="@searchformid">
                                                                <label for="person">Person</label><br />
                                                                <input type="text" name="person" value="@contact.FirstName @contact.LastName" />
                                                            </form>
                                                            <div class="resultbox" id="@searchresultbox"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                    }
                                        }


                                    </div>

                                </div>

                                <div class="panel-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>

<div class="container" id="UnRegisterAble">
    <h4>Uregistrerte kamper</h4>
    <p>
        Det finnes @filteredNonRegisterable.Count() kamper som ikke er registrert<br />
        Klikk <a href="#">Her</a> for å se listen over kamper.
    </p>
</div>




@Scripts.Render("~/bundles/pubnub")



@section scripts {
    <script type="text/javascript" language="javascript">
        // monitorEvents(document.body);

        var counter = 0;


        // Refresh session is used to keep the session alive
        function RefreshSession() {
            counter++;

            clearTimeout(window.timerUser);

            $.getJSON("/Input/MatchRegister/KeepAlive/" + counter, {}, { cache: false }, function (result) { });
        }

        function GetOnlineUsers() {
            $.ajax({
                type: "GET",
                url: "/Account/GetLoggedInUsers",
                dataType: "text",
                cache: false,
                success: function (request) {
                    // Hide the row where we have inserted data
                    $("span#loggedinusers")[0].textContent = request;

                    // don't do much
                    false;
                },
                error: function (xhr, ajaxOptions, error) {
                    // alert('Error receiving tournaments from selected municipalities.');
                    console.log(xhr.status);
                    console.log(error);
                    // $("#" + xhr.status).html(request.valueOf().toString() + "\r\n" + error);

                    // Todo: Consider adding the name of the function or what we were trying to do
                    AjaxSendError(xhr, error);
                }
            });


        }

        function CheckUnregisteredMatches() {
            // panel_unregisterable
            $.ajax({
                type: "GET",
                url: "/Input/MatchRegister/GetUnregisteredMatches",
                dataType: "text",
                cache: false,
                success: function (request) {
                    $("span#panel_unregisterable")[0].textContent = request;

                    false;
                },
                error: function (xhr, ajaxOptions, error) {
                    // alert('Error receiving tournaments from selected municipalities.');
                    console.log(xhr.status);
                    console.log(error);
                    // $("#" + xhr.status).html(request.valueOf().toString() + "\r\n" + error);

                    // Todo: Consider adding the name of the function or what we were trying to do
                    AjaxSendError(xhr, error);
                }

            });
        }

        function CheckMatches() {
            // We shall find out how many matches there are without any text in the home/away
            var intCounter = 0;
            $(".match-result").each(function () {
                var val = $(this).val();
                if (val === "") {
                    $("#matchesleft").innerText =
                        $(this).css({ backgroundColor: 'orange' });
                    intCounter++;
                } else {
                    $("#matchesleft").innerText =
                        $(this).css({ backgroundColor: 'white' });
                }
            });

            intCounter = intCounter / 2;
            // var intMatches = $("input.match-result[value = '']").length / 2;
            console.log("this is int matches: " + intCounter);
            $("span#matchesleft")[0].textContent = intCounter;
            console.log("Updated number of matches left");

        }

        // The NFF pubnub stream
        var pubnub = PUBNUB.init({
            subscribe_key: 'sub-4fb246b0-982a-11e1-ad0b-e19db246ca40',
            ssl: true
        });


        pubnub.subscribe({
            channel: 'THE_FIKS_PRODUCTION_CHANNEL',
            callback: function (m) {
                console.log("Callback");
                console.log(m);
                if (m.ObjectType === "MatchResult") {

                    console.log("MatchId: " + m.Properties.MatchId);
                    console.log("HomeTeamGoals: " + m.Properties.HomeTeamGoals);
                    console.log("AwayTeamGoals: " + m.Properties.AwayTeamGoals);
                    console.log("MatchresultattypID: " + m.Properties.MatchresultattypID);

                    var TestMatchId = m.Properties.MatchId;

                    var row = "#row" + TestMatchId;
                    console.log("this is row: " + row);

                    var sportId = 16; // Since we know this is soccer, we can use 16.
                    // debugger;

                    if ($("#row" + TestMatchId).length) {
                        console.log("Posting result to solution");
                        $.ajax({
                            type: "POST",
                            url: "/Input/MatchRegister/PubNubReceiver",
                            data: {
                                "matchId": m.Properties.MatchId,
                                "homeTeamGoal": m.Properties.HomeTeamGoals,
                                "awayTeamGoal": m.Properties.AwayTeamGoals,
                                "sportId": sportId
                            },
                            dataType: "text",
                            cache: false,
                            success: function (request) {
                                console.log("We are in success!");
                                console.log("Row: " + row);
                                // Hide the row where we have inserted data
                                // Now we need to get some values
                                var homeTeamGoalId = "#hometeam" + TestMatchId;
                                var awayTeamGoalId = "#awayteam" + TestMatchId;

                                $('input' + homeTeamGoalId).val(m.Properties.HomeTeamGoals);
                                $('input' + awayTeamGoalId).val(m.Properties.AwayTeamGoals);
                                $("div#row" + TestMatchId).addClass("bg-danger");

                                console.log("======================================");
                                console.log("We shall now have altered the document");
                                console.log("======================================");


                                // don't do much
                                false;
                            },
                            error: function (xhr, ajaxOptions, error) {
                                // alert('Error receiving tournaments from selected municipalities.');

                                console.log(xhr.status);
                                console.log(error);
                                // $("#" + xhr.status).html(request.valueOf().toString() + "\r\n" + error);

                                AjaxSendError(xhr, error);
                            }
                        });
                    } else {
                        console.log("Nothing to post as this browser window does not have this match");
                    }

                }

            },
            error: function (error) {
                console.log(JSON.stringify(error));
            },
            connect: function (res) {
                console.log(res);
            },
            disconnect: function () {
                console.log("disconnect");
            },
            reconnect: function () {
                console.log("reconnect");
            }
        });


        // Insert result in remote and local database
        $(document).ready(function () {
            // Edit the contact
            $(".savechanges").click(function (event) {
                // get the ID of this button
                var buttonId = $(this).attr("id");

                var submitButton = buttonId.replace("submit", "");
                var rPosition = submitButton.indexOf("r");
                var contactId = submitButton.substring(0, rPosition);

                var submitButtonId = buttonId.replace("submit", "");
                var formId = "editcontact" + submitButtonId;


                var form = "#" + formId;
                
                // Now we are to ajax the stuff
                    $.ajax({
                        type: "POST",
                        url: "/Input/MatchRegister/EditContact/" + contactId,
                        data: $('form' + form).serialize(),
                        // data: {
                            //"teamId": teamId,
                            //"firstname": firstname,
                            //"lastname": lastname,
                            //"email": email,
                            //"mobilephone": mobilephone,
                            //"officephone": officephone,
                            //"homephone": homephone
                            // $('form'+form).serialize()
                // },
                    dataType: "text",
                    cache: false,
                    success: function (request) {
                        // don't do much
                        return false;
                    },
                    error: function (xhr, ajaxOptions, error) {
                        // alert('Error receiving tournaments from selected municipalities.');
                        console.log(xhr.status);
                        console.log(error);
                        // $("#" + xhr.status).html(request.valueOf().toString() + "\r\n" + error);

                        AjaxSendError(xhr, error);
                    }
                 });

                event.preventDefault();

                return false;
            });


            // We cannot register this match because of something
            $(".resultunreg").click(function (event) {
                var checkboxId = $(this).attr("id");
                console.log("The id for this checkbox is: " + checkboxId);

                var matchId = checkboxId.replace("checkbox_", "");
                // We shall remove the checkbox_ part and use the id to set it un-registered
                console.log("matchId: " + matchId);
                // Now we are to ajax the stuff
                $.ajax({
                    type: "POST",
                    url: "/Input/MatchRegister/MatchUnregister/" + matchId,
                    data: {
                        "matchId": matchId
                    },
                    dataType: "text",
                    cache: false,
                    success: function (request) {

                        $("#row" + matchId).appendTo("#UnRegisterAbleMatches");
                        // don't do much
                        return false;
                    },
                    error: function (xhr, ajaxOptions, error) {
                        // alert('Error receiving tournaments from selected municipalities.');
                        console.log(xhr.status);
                        console.log(error);

                        // Shall we e-mail the error message?
                        // Log it to the logfile?
                    }
                });

                event.preventDefault();

                return false;
            });

            $("#filter").change(function () {
                var kretsQuery = QueryString.kretser;
                // var currentForm = $("#filter");
                $("<input />").attr("type", "hidden")
                    .attr("name", "kretser")
                    .attr("value", kretsQuery)
                    .appendTo("#filter");

                // var filterQuery = $("#filter").val();
                // http://localhost:50550/Input/MatchRegister?filter=no
                // window.location.href = "/Input/MatchRegister?filter=" + filterQuery + "&kretser=" + kretsQuery;
                this.form.submit();
            });

            $("#kretser").change(function () {

                var filterQuery = QueryString.filter;
                $("<input />").attr("type", "hidden")
                    .attr("name", "filter")
                    .attr("value", filterQuery)
                    .appendTo("#kretser");

                this.form.submit();
            });

            $(".commentform").submit(function (event) {
                // Getting the id of the form we are commenting on
                var commentFormId = $(this).attr("id");

                var matchId = commentFormId.replace("formcomment", "");
                // Get the textarea in connection to the form
                var comment = $("#" + commentFormId + " textarea").val();

                // We output the data into the console-log, just for debug purposes
                console.log(comment);

                // Now we are to ajax the stuff
                $.ajax({
                    type: "POST",
                    url: "/Input/MatchRegister/AddComment/" + matchId,
                    data: {
                        "txtBox": comment,
                        "matchId": matchId
                    },
                    dataType: "text",
                    cache: false,
                    success: function (request) {
                        // don't do much
                        return false;
                    },
                    error: function (xhr, ajaxOptions, error) {
                        // alert('Error receiving tournaments from selected municipalities.');
                        console.log(xhr.status);
                        console.log(error);
                        // $("#" + xhr.status).html(request.valueOf().toString() + "\r\n" + error);

                        AjaxSendError(xhr, error);
                    }
                });

                event.preventDefault();

                return false;
            });


            // This code is removed because it hits when you clik inside a form
            //$(".row").click(function () {
            //    // getting the value of the id attribute of the selected row
            //    var row = $(this).attr("id");
            //    console.log("Row id: " + row);

            //    // Replace row in the id with matchinfo so we can collapse the correct area
            //    var link = row.replace("row", "matchinfo");
            //    console.log("Link: " + link);

            //    // collapsing the match info area
            //    $("#" + link).collapse('toggle');

            //});

            $(".matchinsertform").submit(function (event) {
                // debugger;

                // var $tr = $(this).closest('tr');
                // var matchId = $tr.find('input[name=matchId]').val();
                var matchId = $(this).attr("id").replace("matchform", "");

                console.log(matchId);

                // Getting the row
                var row = $("#row" + matchId);
                var inforow = $("#matchinfo" + matchId);

                // now we shall get the home team goal and the away team goal
                var homeTeamGoal = row.find("input[name=hometeamgoal]").val();
                var awayTeamGoal = row.find("input[name=awayteamgoal]").val();
                var matchNumber = row.find("input[name=matchNumber]").val();
                var sportId = row.find("input[name=sportId]").val();
                console.log("this is match number: " + matchNumber);
                console.log("this is sportId" + sportId);
                // now that we have all our needed fields, we are to post with ajax
                $.ajax({
                    type: "POST",
                    url: "/Input/MatchRegister/RegisterMatch",
                    data: {
                        "matchId": matchId,
                        "homeTeamGoal": homeTeamGoal,
                        "awayTeamGoal": awayTeamGoal,
                        "matchNumber": matchNumber,
                        "sportId": sportId
                    },
                    dataType: "text",
                    cache: false,
                    success: function (request) {
                        // Hide the row where we have inserted data
                        $(row).remove();
                        $(inforow).remove();

                        // don't do much
                        false;
                    },
                    error: function (xhr, ajaxOptions, error) {
                        // alert('Error receiving tournaments from selected municipalities.');
                        console.log(xhr.status);
                        console.log(error);

                        AjaxSendError(xhr, error);
                        // $("#" + xhr.status).html(request.valueOf().toString() + "\r\n" + error);
                    }
                });


                event.preventDefault();

                return false;
            });
        });

        function AjaxSendError(xhr, error) {
            $.ajax({
                type: "POST",
                url: "/Input/MatchRegister/AjaxErrors",
                data: {
                    "status": xhr.status,
                    "error": error
                },
                dataType: "text",
                cache: "false",
                success: function (request) {

                },
                error: function (xhr, ajaxOption, error) {
                    console.log(xhr.status);
                    console.log(error);

                }
            });
        }

        var QueryString = function () {
            // This function is anonymous, is executed immediately and
            // the return value is assigned to QueryString!
            var query_string = {};
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                // If first entry with this name
                if (typeof query_string[pair[0]] === "undefined") {
                    query_string[pair[0]] = pair[1];
                    // If second entry with this name
                } else if (typeof query_string[pair[0]] === "string") {
                    var arr = [query_string[pair[0]], pair[1]];
                    query_string[pair[0]] = arr;
                    // If third or later entry with this name
                } else {
                    query_string[pair[0]].push(pair[1]);
                }
            }
            return query_string;
        }();

        // Run the refresh session function
        // RefreshSession();

        // Starting Online Users code
        // GetOnlineUsers();

        // Starting CheckMatches code
        // CheckMatches();

        // Starting checking for unregistered matches
        // CheckUnregisteredMatches();

        // Starting timers

        // Checking for new users every 20 seconds
        var timerUsers = setInterval(GetOnlineUsers, 20000);

        // Checking matches very 20 seconds
        var timerCheckMatches = setInterval(CheckMatches, 20000);

        // Checking these matches very two minutes (can make it longer too)
        var timerCheckUnregisteredMatches = setInterval(CheckUnregisteredMatches, 120000);
    </script>
}
