﻿@using NTB.SportsData.Domain.Classes
@model List<Match>
@{
    ViewBag.Title = "Kampregistrering";

    var filteredMatches = Model.AsEnumerable();
    if (Request.QueryString["filter"] == "yes")
    {
        filteredMatches = Model.Where(x => x.HomeTeamGoal != null);
    }
    else if (Request.QueryString["filter"] == "no")
    {
        filteredMatches = Model.Where(x => x.HomeTeamGoal == null);
    }

    filteredMatches = filteredMatches.OrderBy(x => x.MatchStartTime);
}
<p></p>
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body bg-info">
                <div class="col-xs-3 col-md-3 text-center info">
                    <img src="/Content/glyphicons/png/glyphicons-330-soccer-ball.png"/>
                </div>
                <div class="col-xs-9 col-md-9 section-box">
                    Antall kamper igjen <span id="matchesleft"></span>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body bg-success">
                <div class="col-xs-3 col-md-3 text-center info">
                    <img src="/Content/glyphicons/png/glyphicons-4-user.png" />
                </div>
                <div class="col-xs-9 col-md-9 section-box">
                    Antall brukere pålogget <span id="loggedinusers"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-match-register">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Kampregistrering</a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar-match-register">
            <div class="col-md-3">
                <form class="navbar-form form-horizontal" method="GET">
                    <div class="form-group">
                        <label for="filter" class="col-md-8 control-label sr-only">Resultat registrert</label>
                        <div class="col-md-12">
                            <select class="form-control" name="filter" id="filter">
                                <option value="">Resultat registrert</option>
                                @{
                                    if (Request.QueryString["filter"] == "no" || Request.QueryString["filter"] == string.Empty)
                                    {
                                        <option selected="selected" value="no">Nei</option>
                                    }
                                    else
                                    {
                                        <option value="no">Nei</option>
                                    }

                                    if (Request.QueryString["filter"] == "yes")
                                    {
                                        <option selected="selected" value="yes">Ja</option>
                                    }
                                    else
                                    {
                                        <option value="yes">Ja</option>
                                    }

                                    if (Request.QueryString["filter"] == "all")
                                    {
                                        <option selected="selected" value="all">Alle</option>
                                    }
                                    else
                                    {
                                        <option value="all">Alle</option>
                                    }
                                }

                            </select>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="col-md-3">
                <form class="navbar-form form-horizontal" method="GET">
                    <div class="form-group">
                        <label for="Kretser" class="col-sm-4 control-label sr-only">Kretser</label>
                        <div class="col-md-12">
                            <select class="form-control" name="Kretser" id="Kretser">
                                <option value="">Kretser</option>
                                <option value="all">Alle</option>
                                <option value="yes">Ja</option>
                                <option value="no">Nei</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</nav>


<div class="col-md-12">
    <td class="row">
        <table class="table table-striped" id="matchTable">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Kampdato</th>
                <th>Tid</th>
                <th>Turnering</th>
                <th>Hjemmelag</th>
                <th>Bortelag</th>
                <th>Mål H</th>
                <th>Mål B</th>
                <th>&nbsp;</th>
            </tr>

            </thead>
            <tfoot>
            <tr>
                <td colspan="9">&nbsp;</td>
            </tr>
            </tfoot>
            <tbody>
            @{
                if (Model != null)
                {
                    foreach (Match match in filteredMatches)
                    {
                        var matchCommentFormId = "formcomment" + match.MatchId;
                        var linkMatch = "match" + match.MatchId;
                        var linkMatchMoreInfo = "matchinfo" + match.MatchId;
                        var textareaName = "txtBox" + match.MatchId;
                        var infocolumn = "infocol" + match.MatchId;
                        var buttonId = "btn" + match.MatchId;
                        var matchformid = "matchform" + match.MatchId;
                        var matchRow = "row" + match.MatchId;
                        var homeTeamGoalId = "hometeam" + match.MatchId;
                        var awayTeamGoalId = "awayteam" + match.MatchId;
                        var hiddenMatchId = "match" + match.MatchId;
                        var hiddenMatchNumber = "matchnumber_" + match.MatchId;
                        var hiddenSportId = "sportid_" + match.MatchId;

                        if (match.MatchId == 6127488)
                        {
                            match.MatchComment = "Dette er en kommentar. Nå er det kun jeg som har ballong.\r\nDette skal komme på ny linje";

                        }
                        // match.MatchComment = match.MatchId.ToString();
                        string timeString = "0";
                        if (match.MatchStartTime.ToString().Length >= 4)
                        {
                            timeString = match.MatchStartTime.ToString().Substring(0, 2) + ":" + @match.MatchStartTime.ToString().Substring(2, 2);
                        }

                        <tr id="@matchRow">
                            <td id="@infocolumn">
                                <a href="#@linkMatchMoreInfo" id="@linkMatch" data-target="#@linkMatchMoreInfo" data-toggle="collapse" data-parent="#matchtable">
                                    <img src="~/Content/images/24x24/info.png" alt="Informasjon" style="border: 0;" title="@match.MatchId"/>
                                </a>
                                @{
                                    if (match.MatchComment != string.Empty)
                                    {
                                        <img src="/Content/images/24x24/comment.png" alt="@match.MatchComment" title="@match.MatchComment" style="border: 0;"/>
                                    }
                                }
                            </td>
                            <td>
                                @match.MatchDate.ToShortDateString()
                            </td>
                            <td>
                                @timeString
                            </td>
                            <td>
                                @match.TournamentName <br/>
                                (@match.DistrictName, @match.SportName)
                            </td>
                            <td>
                                @match.HomeTeam
                            </td>
                            <td>
                                @match.AwayTeam
                            </td>
                            <td>
                                @{
                                    if (match.HomeTeamGoal == null)
                                    {
                                        <input type="text" name="hometeamgoal" id="@homeTeamGoalId" maxlength="3" class="text-center form-control match-result"/>
                                    }
                                    else
                                    {
                                        <input type="text" name="hometeamgoal" id="@homeTeamGoalId" value="@match.HomeTeamGoal" maxlength="3" class="col-md-12 text-center form-control"/>
                                    }
                                }
                            </td>
                            <td>
                                @{
                                if (match.AwayTeamGoal == null)
                                {
                                    <input type="text" name="awayteamgoal" id="@awayTeamGoalId" maxlength="3" class="col-md-12 text-center form-control match-result" />
                                }
                                else
                                {
                                    <input type="text" name="awayteamgoal" id="@awayTeamGoalId" value="@match.AwayTeamGoal" maxlength="3" class="col-md-12 text-center form-control" />
                                }
                                }
                            </td>
                        </tr>
                
                            <form method="POST" action="#" class="matchinsertform" id="@matchformid">
                                <input type="hidden" name="matchId" value="@match.MatchId" id="@hiddenMatchId" />
                                <input type="hidden" name="sportId" value="@match.SportId" id="@hiddenSportId" />
                                <input type="hidden" name="sportName" value="@match.SportName" />
                                <input type="hidden" name="matchNumber" value="@match.MatchNumber" id="@hiddenMatchNumber" />
                            </form>
                    }
                }
            }
                </tbody>
        </table>
    </div>

    @section scripts {
        @Scripts.Render("~/bundles/pubnub")
        <script type="text/javascript" language="javascript">
            var counter = 0;


            // Refresh session is used to keep the session alive
            function RefreshSession() {
                counter++;

                clearTimeout(timerX);

                $.getJSON("/Input/MatchRegister/KeepAlive/" + counter, {}, { cache: false }, function (result) { });
            }

            function GetOnlineUsers() {
                $.ajax({
                    type: "GET",
                    url: "/Account/GetLoggedInUsers",
                    dataType: "text",
                    cache: false,
                    success: function (request) {
                        // Hide the row where we have inserted data
                        $("span#loggedinusers")[0].textContent = request;

                        // don't do much
                        false;
                    },
                    error: function (xhr, ajaxOptions, error) {
                        // alert('Error receiving tournaments from selected municipalities.');
                        console.log(xhr.status);
                        console.log(error);
                        // $("#" + xhr.status).html(request.valueOf().toString() + "\r\n" + error);
                    }
                });


            }

            function CheckMatches() {
                // We shall find out how many matches there are without any text in the home/away
                var intCounter = 0;
                $(".match-result").each(function () {
                    var val = $(this).val();
                    if (val === "") {
                        $("#matchesleft").innerText =
                            $(this).css({ backgroundColor: 'orange' });
                        intCounter++;
                    } else {
                        $("#matchesleft").innerText =
                            $(this).css({ backgroundColor: 'white' });
                    }
                });

                intCounter = intCounter / 2;
                // var intMatches = $("input.match-result[value = '']").length / 2;
                console.log("this is int matches: " + intCounter);
                $("span#matchesleft")[0].textContent = intCounter;
                console.log("Updated number of matches left");

            }

            // The NFF pubnub stream
            var pubnub = PUBNUB.init({
                subscribe_key: 'sub-4fb246b0-982a-11e1-ad0b-e19db246ca40'
            });


            pubnub.subscribe({
                channel: 'THE_FIKS_PRODUCTION_CHANNEL',
                callback: function (m) {
                    console.log("Callback");
                    console.log(m);
                    if (m.ObjectType == "MatchResult") {

                        console.log("MatchId: " + m.Properties.MatchId);
                        console.log("HomeTeamGoals: " + m.Properties.HomeTeamGoals);
                        console.log("AwayTeamGoals: " + m.Properties.AwayTeamGoals);
                        console.log("MatchresultattypID: " + m.Properties.MatchresultattypID);

                        var TestMatchId = m.Properties.MatchId;

                        var row = "#row" + TestMatchId;
                        console.log("this is row: " + row);

                        var sportId = 16; // Since we know this is soccer, we can use 16.
                        // debugger;

                        if ($("#row" + TestMatchId).length) {
                            console.log("Posting result to solution");
                            $.ajax({
                                type: "POST",
                                url: "/Input/MatchRegister/RegisterMatch",
                                data: {
                                    "matchId": m.Properties.MatchId,
                                    "homeTeamGoal": m.Properties.HomeTeamGoals,
                                    "awayTeamGoal": m.Properties.AwayTeamGoals,
                                    "sportId": sportId
                                },
                                dataType: "text",
                                cache: false,
                                success: function (request) {
                                    console.log("We are in success!");
                                    console.log("Row: " + row);
                                    // Hide the row where we have inserted data
                                    // Now we need to get some values
                                    var homeTeamGoalId = "#hometeam" + TestMatchId;
                                    var awayTeamGoalId = "#awayteam" + TestMatchId;

                                    $('input' + homeTeamGoalId).val(m.Properties.HomeTeamGoals);
                                    $('input' + awayTeamGoalId).val(m.Properties.AwayTeamGoals);
                                    $("div#row" + TestMatchId).addClass("bg-danger");

                                    console.log("======================================");
                                    console.log("We shall now have altered the document");
                                    console.log("======================================");


                                    // don't do much
                                    false;
                                },
                                error: function (xhr, ajaxOptions, error) {
                                    // alert('Error receiving tournaments from selected municipalities.');
                                    alert(xhr.status);
                                    alert(error);
                                    // $("#" + xhr.status).html(request.valueOf().toString() + "\r\n" + error);
                                }
                            });
                        } else {
                            console.log("Nothing to post as this browser window does not have this match");
                        }

                    }

                },
                error: function (error) {
                    console.log(JSON.stringify(error));
                },
                connect: function (res) {
                    console.log(res)
                },
                disconnect: function () {
                    console.log("disconnect");
                },
                reconnect: function () {
                    console.log("reconnect");
                }
            });


            // Insert result in remote and local database
            $(document).ready(function () {
                $("#filter").change(function () {
                    this.form.submit();
                });


                $(".matchinsertform").submit(function (event) {
                    // debugger;

                    var $tr = $(this).closest('tr');
                    var matchId = $tr.find('input[name=matchId]').val();

                    console.log(matchId);

                    // Getting the row
                    var row = $("#row" + matchId);
                    var inforow = $("#matchinfo" + matchId);

                    // now we shall get the home team goal and the away team goal
                    var homeTeamGoal = $tr.find("input[name=hometeamgoal]").val();
                    var awayTeamGoal = $tr.find("input[name=awayteamgoal]").val();
                    var matchNumber = $tr.find("input[name=matchNumber]").val();
                    var sportId = $tr.find("input[name=sportId]").val();

                    // now that we have all our needed fields, we are to post with ajax
                    $.ajax({
                        type: "POST",
                        url: "/Input/MatchRegister/RegisterMatch",
                        data: {
                            "matchId": matchId,
                            "homeTeamGoal": homeTeamGoal,
                            "awayTeamGoal": awayTeamGoal,
                            "matchNumber": matchNumber,
                            "sportId": sportId
                        },
                        dataType: "text",
                        cache: false,
                        success: function (request) {
                            // Hide the row where we have inserted data
                            $(row).remove();
                            $(inforow).remove();

                            // don't do much
                            false;
                        },
                        error: function (xhr, ajaxOptions, error) {
                            // alert('Error receiving tournaments from selected municipalities.');
                            alert(xhr.status);
                            alert(error);
                            // $("#" + xhr.status).html(request.valueOf().toString() + "\r\n" + error);
                        }
                    });

                    event.preventDefault();

                    return false;
                });
            });

            // Run the refresh session function
            // RefreshSession();

            // Starting Online Users code
            GetOnlineUsers();

            // Starting CheckMatches code
            CheckMatches();

            // Starting timers
            var timerUsers = setInterval(GetOnlineUsers, 20000);
            var timerCheckMatches = setInterval(CheckMatches, 20000);
        </script>
    }
