﻿<div class="jumbotron">
    <h1>NTB SportsData API</h1>
    <p class="lead">
        NTB SportsData API is an interface to get sports data for your desktop, web or mobile application.
    </p>
    <p><a href="~/Help" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>Read our help pages to get started.</p>
        <p><a class="btn btn-default" href="~/Help">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Data sources</h2>
        <p>Through the API you get access to data from many national and international sports federations.</p>
    </div>
    
</div>