﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NTB sportsdata - Admin</h1>
    <p class="lead">NTB sportsdata Admin er vårt administrasjonsverktøy for å administrere kunder.</p>
    <p><a href="https://www.sportsdata.no" class="btn btn-primary btn-lg">Les mer &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sportsdata API</h2>
        <p>
            Med Sportsdata API kan du vise resultater for ditt lokalområde. Dataene kommer fra NTBs mange datakilder
        </p>
        <p><a class="btn btn-default" href="https://www.sportsdata.no/api">Les mer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sportskalender</h2>
        <p>Med sportskalenderen kan du få oversikt over alle idrettsarrangementer i Norge og rundt om i verden.</p>
        <p><a class="btn btn-default" href="https://www.sportsdata.no/calendar">Les mer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sportsdata Live</h2>
        <p>Vis live resultater fra alle lagidretter på din nettside.</p>
        <p><a class="btn btn-default" href="https://www.sportsdata.no">Les mer &raquo;</a></p>
    </div>
</div>
@{
    if (Request.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-4">
                <h2>Sportsdata Input</h2>
                <p>
                    Med Sportsdata Input legger du inn data i databasene til Norges Idrettsforbund og Norges Fotballforbund.
                </p>
                <p><a class="btn btn-default" href="https://www.sportsdata.no/input">Les mer &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Sportsdata Admin</h2>
                <p>Med Sportsdata Admin administrerer du kundene som mottar sportsdata.</p>
                <p><a class="btn btn-default" href="https://www.sportsdata.no/admin">Les mer &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Sportsdata Live</h2>
                <p>Vis live resultater fra alle lagidretter på din nettside.</p>
                <p><a class="btn btn-default" href="https://www.sportsdata.no">Les mer &raquo;</a></p>
            </div>
        </div>
        <li>@Html.ActionLink("Kampregistrering", "Index", "MatchRegister")</li>
    }
}